/* CSS file containing css for the EyeDraw widget
 *
 * Modification (hack) of original file: 21st April 2018
 */
/* line 16, ../sass/_placeholders.scss */
.ed-toolbar-panel, .ed-widget, .ed-doodle-controls > div {
  *zoom: 1;
}
/* line 19, ../sass/_mixins.scss */
.ed-toolbar-panel:before, .ed-widget:before, .ed-doodle-controls > div:before, .ed-toolbar-panel:after, .ed-widget:after, .ed-doodle-controls > div:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/_mixins.scss */
.ed-toolbar-panel:after, .ed-widget:after, .ed-doodle-controls > div:after {
  clear: both;
}

/* line 17, ../sass/components/_toolbar.scss */
.ed-toolbar {
  border-radius: 3px;
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 3px 0 0 3px;
}

/* line 19, ../sass/components/toolbar/_panels.scss */
.ed-widget .ed-toolbar-panel {
  display: block;
}

/* line 26, ../sass/components/toolbar/_panels.scss */
.ed-toolbar-panel, .ed-toolbar-panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 31, ../sass/components/toolbar/_panels.scss */
.ed-toolbar-panel li {
  float: left;
  margin: 0 3px 3px 0;
  position: relative;
}
/* line 36, ../sass/components/toolbar/_panels.scss */
.ed-toolbar-panel li.active ul {
  display: block;
}
/* line 41, ../sass/components/toolbar/_panels.scss */
.ed-toolbar-panel.ed-drawing-toolbar {
  margin-top: -6px;
  margin-left: -5px;
  float: left;
}
/* line 45, ../sass/components/toolbar/_panels.scss */
.ed-toolbar-panel.ed-drawing-toolbar li {
  margin: 0;
}
/* line 48, ../sass/components/toolbar/_panels.scss */
.ed-toolbar-panel.ed-drawing-toolbar .ed-button {
  background: none;
  border: 0;
}
/* line 54, ../sass/components/toolbar/_panels.scss */
.ed-toolbar-panel .ed-toolbar-panel-drawer {
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.3);
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  left: 3px;
  margin: 0;
  padding: 3px 0 0 3px;
  position: absolute;
  top: 36px;
  width: 148px;
  z-index: 12;
}
/* line 68, ../sass/components/toolbar/_panels.scss */
.ed-toolbar-panel .ed-drawer-open .ed-toolbar-panel-drawer {
  display: block;
}

/* line 17, ../sass/components/toolbar/_button.scss */
.ed-button {
  border-radius: 3px;
  background: #ddd;
  border: 1px solid #ccc;
  display: block;
  height: 32px;
  margin: 0;
  padding: 0;
  width: 32px;
}
/* line 26, ../sass/components/toolbar/_button.scss */
.ed-button:hover, .ed-button.hover {
  background: #118afb;
}
/* line 30, ../sass/components/toolbar/_button.scss */
.ed-button [class*="icon-ed-"] {
  margin-left: -1px;
  margin-top: -1px;
}
/* line 35, ../sass/components/toolbar/_button.scss */
.ed-button.disabled {
  cursor: default;
  background: #ddd;
  opacity: 0.5;
}
/* line 40, ../sass/components/toolbar/_button.scss */
.ed-doodle-popup-toolbar .ed-button {
  border-color: #6db4dc;
}
/* line 42, ../sass/components/toolbar/_button.scss */
.ed-doodle-popup-toolbar .ed-button:hover, .ed-doodle-popup-toolbar .ed-button.hover {
  background: #118afb;
  border-color: #0d6ac0;
}

/* line 17, ../sass/components/toolbar/_label.scss */
.ed-button .label {
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.3);
  transition: all 0s ease;
  background: #fff;
  border: 1px solid #ccc;
  padding: 4px 6px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
  z-index: 19;
  left: 0px;
  display:none;
  margin:0 0 0 0;
  
}
/* line 29, ../sass/components/toolbar/_label.scss */
.ed-button .left {
  left: inherit;
  right: 0px;
}
/* line 34, ../sass/components/toolbar/_label.scss */
.ed-button:hover .label {
  transition-delay: 0.25s;
  display:block;
}
/* line 38, ../sass/components/toolbar/_label.scss */
.ed-button:hover .left {
  left: inherit;
  right: -1px;
}
/* line 44, ../sass/components/toolbar/_label.scss */
.ed-button:active .label, .ed-drawer-open > .ed-button .label {
  transition-delay: 0s;
  left: 0px;
}
/* line 51, ../sass/components/toolbar/_label.scss */
.ed-button.disabled:hover .label {
  transition-delay: 0s;
  left: 0px;
}

/* line 71, ../sass/_mixins.scss */
.icon-ed-small-close-drawer {
  background-position: 0 0;
}

/* line 71, ../sass/_mixins.scss */
.icon-ed-small-open-drawer {
  background-position: 0 -16px;
}

/* line 71, ../sass/_mixins.scss */
.icon-ed-small-selected-doodle {
  background-position: 0 -32px;
}

/* line 21, ../sass/components/_editor.scss */
.ed-body {
  display: table;
  padding-bottom: 4px;
  width: 100%;
}
/* line 25, ../sass/components/_editor.scss */
.ed-widget.display .ed-body {
  width: auto;
  display: inline-block;
  padding-bottom: 5px;
}

/* line 32, ../sass/components/_editor.scss */
.ed-editor-container {
  display: table-cell;
  position: relative;
  vertical-align: top;
  width: auto;
}

/* line 39, ../sass/components/_editor.scss */
.ed-fields-container {
  display: table-cell;
  padding-left: 0.75rem;
  padding-right: 2px;
  padding-top: 10px;
  position: relative;
  vertical-align: top;
  width: 100%;
}

/* line 49, ../sass/components/_editor.scss */
.ed-editor {
  user-select: none;
  position: relative;
  margin-top: 4px;
}

/* line 57, ../sass/components/_editor.scss */
canvas.ed-canvas-edit {
  background: #e4edf5;
  border: 1px solid #53a0c7;
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin: 0 0 0 2px;
}
/* line 64, ../sass/components/_editor.scss */
canvas.ed-canvas-edit.secondary {
  z-index: auto;
}
/* line 69, ../sass/components/_editor.scss */
canvas.ed-canvas-display {
  border: none;
  cursor: auto;
  margin: 0px;
  position: relative;
  z-index: 10;
}
/* line 78, ../sass/components/_editor.scss */
canvas.ed-canvas-edit:focus, canvas.ed-canvas-display:focus {
  outline: none;
}

/* line 18, ../sass/components/_squiggle.scss */
span.squiggle {
  display: inline-block;
  margin-bottom: -4px;
}

/* line 24, ../sass/components/_squiggle.scss */
.preview {
  display: inline-table;
  margin-bottom: 4px;
}

/* line 30, ../sass/components/_squiggle.scss */
.thickness {
  position: relative;
  top: -15px;
  display: inline-block;
}

/* line 37, ../sass/components/_squiggle.scss */
.fill {
  position: relative;
  top: -5px;
  display: inline-block;
}

/* line 16, ../sass/components/_drawing-controls.scss */
.ed-drawing-controls {
  background-color: #c3def5;
  border: 1px solid #53a0c7;
  border-width: 1px 1px 0 1px;
  padding: 8px;
  height: 36px;
  margin: 0 0 0 2px;
  position: relative;
  z-index: 11;
}
/* line 27, ../sass/components/_drawing-controls.scss */
.ed-drawing-controls .ed-selected-doodle {
  margin-left: 32px;
}
/* line 31, ../sass/components/_drawing-controls.scss */
.ed-drawing-controls.ed-feature-zoom .ed-selected-doodle {
  margin-left: 66px;
}

/* line 16, ../sass/components/_doodle-popup.scss */
.ed-doodle-popup {
  transition: right 0.5s ease;
  box-shadow: 2px 5px 14px -4px rgba(0, 0, 0, 0.7);
  user-select: text;
  background: #c3def5;
  border: 1px solid #53a0c7;
  border-width: 1px 1px 1px 0;
  padding: 5px;
  position: absolute;
  top: 0;
  z-index: 20;
  display: block;
  width: 188px;
}
/* line 30, ../sass/components/_doodle-popup.scss */
.ed-doodle-popup.closed {
  display: none;
}
/* line 34, ../sass/components/_doodle-popup.scss */
.ed-doodle-popup.closed .ed-button .label {
  display: none;
}
/* line 39, ../sass/components/_doodle-popup.scss */
.ed-doodle-popup.left {
  border-width: 1px 0px 1px 1px;
}

/* line 45, ../sass/components/_doodle-popup.scss */
.ed-doodle-popup-toolbar li {
  margin-bottom: 0;
  margin-right: 4px;
  width: 32px;
  height: 32px;
}
/* line 50, ../sass/components/_doodle-popup.scss */
.sub-element .ed-doodle-popup-toolbar li {
  margin-right: 1px;
}
/* line 53, ../sass/components/_doodle-popup.scss */
.ed-doodle-popup-toolbar li:last-child {
  margin-right: 0;
}

/* line 59, ../sass/components/_doodle-popup.scss */
.ed-doodle-description {
  color: #444;
  font-size: 11px;
  font-style: italic;
  line-height: 14px;
  padding: 12px 0 6px 0;
}

/* line 67, ../sass/components/_doodle-popup.scss */
.ed-doodle-controls {
  max-height: 294px;
  overflow: auto;
}
/* line 70, ../sass/components/_doodle-popup.scss */
.ed-doodle-controls > div {
  line-height: 12px;
  padding-bottom: 8px;
}
/* line 74, ../sass/components/_doodle-popup.scss */
.ed-doodle-controls > div:first-child {
  margin-top: 14px;
}
/* line 78, ../sass/components/_doodle-popup.scss */
.ed-doodle-controls label {
  color: #777;
  float: left;
  font-size: 12px;
  margin: 0 6px 0 0;
}
/* line 83, ../sass/components/_doodle-popup.scss */
.ed-doodle-controls label:after {
  content: ":";
}
/* line 86, ../sass/components/_doodle-popup.scss */
.ed-doodle-controls label .validation-msg {
  color: red;
  padding-left: 5px;
}
/* line 91, ../sass/components/_doodle-popup.scss */
.ed-doodle-controls select {
  width: auto;
}

/* line 96, ../sass/components/_doodle-popup.scss */
.combo div {
  float: left;
}