/* Fri Aug 17 2018 15:06:37 GMT+0100 (BST) *//* FONT: Roboto - latin_greek, local hosting */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-100.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-300.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-regular.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-italic.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-500.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-500italic.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-700.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-900.woff2) format("woff2");
}

/* normalize */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

section,
nav,
header,
footer,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
b,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  background: #89d8e9;
  text-shadow: none;
}

::selection {
  background: #89d8e9;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden {
  display: none;
}

.cols-left, .cols-right {
  width: 49%;
}

.cols-fifth {
  width: 20%;
}

.cols-center {
  margin: 0 auto;
}

.cols-1 {
  width: 8.33333%;
}

.cols-2 {
  width: 16.66667%;
}

.cols-3, cols-quarter {
  width: 25%;
}

.cols-4 {
  width: 33.33333%;
}

.cols-5 {
  width: 41.66667%;
}

.cols-6, .cols-half {
  width: 50%;
}

.cols-7 {
  width: 58.33333%;
}

.cols-8 {
  width: 66.66667%;
}

.cols-9 {
  width: 75%;
}

.cols-10 {
  width: 83.33333%;
}

.cols-11 {
  width: 91.66667%;
}

.cols-12, .cols-full {
  width: 100%;
}

.col-gap > div[class^="cols-"],
.col-gap > td {
  padding-right: 25px !important;
  padding-left: 5px;
}

.col-gap > div[class^="cols-"]:first-child,
.col-gap > td:first-child {
  padding-left: 0 !important;
}

.col-gap > div[class^="cols-"]:last-child,
.col-gap > td:last-child {
  padding-right: 0 !important;
}

.col-gap-small > div[class^="cols-"],
.col-gap-small > td {
  padding-right: 3px !important;
}

.col-gap-small > div[class^="cols-"]:last-child,
.col-gap-small > td:last-child {
  padding-right: 0 !important;
}

/* OpenEyes UI v3.0 -- PRINT (bases on v2, minimal touch to style v2 Print DOM) */
html {
  background: #fff;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  font-weight: 400;
  font-size: 10pt;
}

.clearfix {
  zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

div.clearfix {
  clear: both;
}

.spacer {
  height: 10px;
}

.print-form-div {
  padding: 0 0 0 0;
  page-break-after: always;
  font-size: 10pt;
}

.from-address {
  float: right;
  width: 300px;
  text-align: right;
  font-size: 6pt;
  padding-bottom: 10px;
}

.watermark {
  position: relative;
}

.watermark img {
  position: absolute;
  z-index: -1;
  top: 120px;
  left: 60px;
}

h1 {
  font-size: 15pt;
  font-weight: 300;
  margin: 0;
  vertical-align: bottom;
  float: left;
  width: 50%;
}

h2, b {
  font-size: 11pt;
  font-weight: 300;
  line-height: 1em;
  margin: 14px 0 6px 0;
}

b {
  display: inline-block;
}

ul li, ol li {
  font-size: 8pt !important;
}

table {
  width: 100%;
  border: 2px solid #ddd;
}

tr.handWritten td {
  height: 30px;
}

td, th {
  border: 1.5px #ddd solid;
  padding: 4px !important;
  font-size: 8pt !important;
  text-align: left;
}

.done_bys th {
  width: 22%;
}

.done_bys td {
  width: 28%;
}

.banner {
  position: relative;
  max-height: 100px;
  margin-bottom: 20px;
}

.banner .letter-seal {
  width: 50% !important;
  display: inline-block;
}

.banner .letter-seal img {
  width: 80px !important;
}

.banner .letter-logo {
  float: right;
}

.banner .ophdrprescription-letter-logo {
  width: 49%;
  display: inline-block;
}

.banner .ophdrprescription-letter-logo img {
  width: 350px;
}

.prescription_header th {
  width: 20%;
}

.prescription_header td {
  width: 30%;
}

.prescription_header .prescription_items td,
.prescription_items th {
  width: 12%;
}

.prescription_items .prescriptionLabel {
  width: 28%;
}

.prescription_items .prescriptionTaper td.prescriptionLabel,
.prescription_items .prescriptionComments td.prescriptionLabel {
  text-align: right;
  padding-right: 5px !important;
}

.pharmacy_checkboxes th {
  width: 30%;
}

.pharmacy_checkboxes td {
  width: 20%;
}
