/* Wed Sep 19 2018 17:14:09 GMT+0100 (BST) *//* FONT: Roboto - latin_greek, local hosting */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-100.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-300.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-regular.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-italic.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-500.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-500italic.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-700.woff2) format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(../fonts/roboto-v18-latin_greek/roboto-v18-latin_greek-900.woff2) format("woff2");
}

/* normalize */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

section,
nav,
header,
footer,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  background: #89d8e9;
  text-shadow: none;
}

::selection {
  background: #89d8e9;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden {
  display: none;
}

.cols-left, .cols-right {
  width: 49%;
}

.cols-fifth {
  width: 20%;
}

.cols-center {
  margin: 0 auto;
}

.cols-1 {
  width: 8.33333%;
}

.cols-2 {
  width: 16.66667%;
}

.cols-3, .cols-quarter {
  width: 25%;
}

.cols-4 {
  width: 33.33333%;
}

.cols-5 {
  width: 41.66667%;
}

.cols-6, .cols-half {
  width: 50%;
}

.cols-7 {
  width: 58.33333%;
}

.cols-8 {
  width: 66.66667%;
}

.cols-9 {
  width: 75%;
}

.cols-10 {
  width: 83.33333%;
}

.cols-11 {
  width: 91.66667%;
}

.cols-12, .cols-full {
  width: 100%;
}

.col-gap > div[class^="cols-"],
.col-gap > td {
  padding-right: 25px !important;
  padding-left: 5px;
}

.col-gap > div[class^="cols-"]:first-child,
.col-gap > td:first-child {
  padding-left: 0 !important;
}

.col-gap > div[class^="cols-"]:last-child,
.col-gap > td:last-child {
  padding-right: 0 !important;
}

.col-gap-small > div[class^="cols-"],
.col-gap-small > td {
  padding-right: 3px !important;
}

.col-gap-small > div[class^="cols-"]:last-child,
.col-gap-small > td:last-child {
  padding-right: 0 !important;
}

/* OpenEyes UI v3.0 */
html {
  background: #fff;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  font-weight: 400;
  font-size: 10pt;
}

.spacer {
  height: 2em;
}

.pageBreak,
.break {
  page-break-after: always !important;
}

hr {
  border-top: 2px solid #ddd;
}

.nowrap {
  white-space: nowrap;
}

.group {
  margin: 1em 0;
}

.dotted-write {
  display: inline-block;
  height: 1.5em;
  width: 100%;
  border-bottom: 1px dotted #787878;
}

.dotted-write.cols-half, .dotted-write.half {
  width: 50%;
}

.checkbox {
  display: inline-block;
  vertical-align: baseline;
  border: 2px solid black;
  height: 1.4em;
  width: 1.4em;
  margin: 0 0.5em;
  position: relative;
  top: 4px;
}

.checkbox.checked:after {
  content: 'x';
  font-size: 12pt;
  font-weight: 500;
  position: absolute;
  top: -2px;
  left: 3px;
}

.clearfix {
  zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

div.clearfix {
  clear: both;
}

.flex-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-layout.flex-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-layout.flex-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-layout.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-size: 18pt;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0 0 1.3em 0;
}

h2 {
  font-size: 15pt;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0.5em 0 0.8em 0;
}

h3 {
  font-size: 13pt;
  font-weight: 500;
  line-height: 1.1em;
  margin: 0.4em 0 0.6em 0;
}

h4 {
  font-size: 11pt;
  font-weight: 500;
  line-height: 1.1em;
  margin: 0.4em 0 0.4em 0;
}

p {
  font-size: 11pt;
  font-weight: 400;
  line-height: 1.3em;
  margin: 0.3em 0 0.3em 0;
}

h5 {
  font-size: 8pt;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0.5em 0 0.5em 0;
}

b, strong {
  font-weight: 600;
}

.right-align {
  text-align: right;
}

.print-header {
  margin: 0 0 1em 0;
}

.print-header .logo {
  text-align: right;
}

ul, ol {
  list-style-position: inside;
  margin: 1em 0;
}

ul li, ol li {
  font-size: 8pt !important;
  font-weight: 600;
  padding: 2px 0;
}

ul.large li, ol.large li {
  font-size: 11pt !important;
}

table {
  width: 100%;
  border: 2px solid #ddd;
  margin: 0.5em 0 1em 0;
  page-break-inside: avoid !important;
}

table td, table th {
  padding: 4px !important;
  font-size: 8pt !important;
  text-align: left;
}

table th {
  font-weight: 400;
}

table td {
  font-weight: 600;
  border-bottom: none !important;
}

table.borders td, table.borders th {
  border: 1.5px #ddd solid;
}

table.borders tr.no-borders td {
  border-top: none;
}

table.large td, table.large th {
  font-size: 11pt !important;
}

.print-form-div {
  padding: 0 0 0 0;
  page-break-after: always;
  font-size: 10pt;
}

.from-address {
  float: right;
  width: 300px;
  text-align: right;
  font-size: 6pt;
  padding-bottom: 10px;
}

.watermark {
  position: relative;
}

.watermark img {
  position: absolute;
  z-index: -1;
  top: 120px;
  left: 60px;
}

.banner {
  position: relative;
  max-height: 100px;
  margin-bottom: 20px;
}

.banner .letter-seal {
  width: 50% !important;
  display: inline-block;
}

.banner .letter-seal img {
  width: 80px !important;
}

.banner .letter-logo {
  float: right;
}

.banner .ophdrprescription-letter-logo {
  width: 49%;
  display: inline-block;
}

.banner .ophdrprescription-letter-logo img {
  width: 350px;
}

.prescription_header th {
  width: 20%;
}

.prescription_header td {
  width: 30%;
}

tr.handWritten td {
  height: 30px;
}

.done_bys th {
  width: 22%;
}

.done_bys td {
  width: 28%;
}

.prescription_header .prescription_items td,
.prescription_items th {
  width: 12%;
}

.prescription_items .prescriptionLabel {
  width: 28%;
}

.prescription_items .prescriptionTaper td {
  border-top: none;
}

.prescription_items .prescriptionTaper td.prescriptionLabel {
  text-align: left;
  padding-left: 5px !important;
  font-weight: 500;
  font-style: italic;
}

.prescription_items .prescriptionTaper td.prescriptionLabel:before {
  content: '\2026 ';
}

.prescription_items .prescriptionComments td {
  border-top: none;
  font-weight: 500;
  font-style: italic;
}

.prescription_items .prescriptionComments td.prescriptionLabel {
  text-align: right;
  padding-right: 5px !important;
}

.pharmacy_checkboxes th {
  width: 30%;
}

.pharmacy_checkboxes td {
  width: 20%;
}
