// OE Eyedraw APP
// -----------------------------------
// Eyedraw popup APP
// V2 DOM
// Unable to implement the V3 design so providing
// this for current DOM.


.oe-eyedraw-app {	

	height:500px;
	
	.eyedraw-v2 {	
		.ed-editor-container {
			
			position:relative; 
			padding:40px 0 0 0; // allow for the .ed-drawing-controls
			
			
			// this for the rewind and zoom icons and select a doodle drop down.
			.ed-drawing-controls {
				position:absolute; 
				top:5px; 
				left:240px;
				width:300px;
				
				display:flex;
				align-items:flex-start;				// vertical alignment top (no stretch)
				justify-content:space-between; 		// make sure items align to left AND right edge;
			}
			
			.ed-toolbar {
				position:absolute; 
				top:40px; 
				right:10px;
				width:220px; 
				height:300px; // match canvas
				overflow-y: auto;
				background:tint( $oe-ed-bg, 50);
				
				.ed-button {
					display:block;
					&:hover, &:active, &:focus {
						background:rgb(255,255,255);
					}
				}
				
			}
			
			.ed-doodle-popup {
				width:230px; 
				padding:10px;
				margin:0 0 0 10px;
				background:shade( $oe-ed-bg, 5);
				height:auto;
			}
			
			
			.ed-doodle-info {
				@include font-size(10);
				color:shade( $oe-ed-bg, 50);
				margin:0 0 20px 0;
			}
			
			// hide the labels for these icon groups
			// and inline
			.ed-doodle-popup-toolbar,
			.ed-drawing-toolbar {
				margin:0 0 10px 0;				
				.label { display: none; }
				
				li {
					display:inline-block;
					margin:0 15px 0 0;
				}
				
			}
			
			.ed-doodle-controls {
				div {
					display:flex;
					align-items:center;				// vertical alignment top (no stretch)
					justify-content:space-between; 		// make sure items align to left AND right edge;
					
					margin:5px 0 5px 0;
					padding:5px 0 0 0;
					border-top: 1px dotted shade( $oe-ed-bg, 15);
					
				}
			}
			
		}
		
		
		
		
	}
	
}