// * OpenEyes
// *

// Panels group buttons and other controls.

.ed-widget {
	.ed-toolbar-panel {
		display: block;
	}
}

.ed-toolbar-panel {
	 &:after {
	    content: "";
	    display: table;
	    clear: both;
	}
	&, ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
		margin: 0 3px 3px 0;
		position: relative;
		&.active {
			ul {
				display: block;
			}
		}
	}
	&.ed-drawing-toolbar {
		margin-top: -6px;
		margin-left: -5px;
		float: left;
		li {
			margin: 0;
		}
		.ed-button {
			background: none;
		}
	}
	// Drop-menu
	.ed-toolbar-panel-drawer {
		box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.3);
		background: #fff;
		display: none;
		left: 3px;
		margin: 0;
		padding: 3px 0 0 3px;
		position: absolute;
		top: 36px;
		width: 148px;
		z-index: $oe-z-ed-v2 + 8; // above everything!
	}
	.ed-drawer-open {
		.ed-toolbar-panel-drawer {
			display: block;
		}
	}
}