// * OpenEyes
// *

.ed-drawing-controls {
	background-color: $oe-ed-panels;
	padding: 8px;
	height: 36px;
	position: relative;
	z-index: $oe-z-ed-v2 + 1;
	.ed-selected-doodle {
		margin-left: 32px;
	}
	&.ed-feature-zoom {
		.ed-selected-doodle {
			margin-left: 66px;
		}
	}
}