// * OpenEyes
// *

.ed-widget {
	 &:after {
	    content: "";
	    display: table;
	    clear: both;
	  }
}

.ed-body {
	display: table;
	padding-bottom: 4px;
	width: 100%;
	.ed-widget.display & {
		width: auto;
		display: inline-block;
		padding-bottom: 5px;
	}
}

.ed-editor-container {
	display: table-cell;
	position: relative;
	vertical-align: top;
	width: auto;
}

.ed-fields-container {
	display: table-cell;
	padding: 0px 0 0 5px;
	position: relative;
	vertical-align: top;
	width: 100%;
}

.ed-editor  {
	position: relative;
	margin-top: 4px;
}

canvas {
	// Canvas element in edit mode
	&.ed-canvas-edit {
		background: $oe-ed-bg;
		cursor: pointer;
		position: relative;
		z-index: $oe-z-ed-v2;
		&.secondary {
			z-index: auto;
		}
	}
	// Canvas element in display mode
	&.ed-canvas-display {
		cursor: auto;
		position: relative;
		z-index: $oe-z-ed-v2;
	}
	// Stop canvas being highlighted on mouse click
	&.ed-canvas-edit, &.ed-canvas-display {
		&:focus {
			outline: none;
		}
	}
}