// OE PRINT
// Prescription Event

.prescription_header {
	th {
    	width: 20%;
    }
    
    td {
		width: 30%;
	}
}

.prescription_header .prescription_items td,
.prescription_items th {
    width: 12%;
}

.prescription_items {
	.prescriptionLabel {
	    width: 28%;
	}
	
	.prescriptionTaper  {
		
		td {
			border-top: none;
			
			&.prescriptionLabel {
				text-align: left;
				padding-left: 5px !important;
				font-weight:500;
				font-style: italic;
				
				&:before {
					content: '\2026 ';
				}
			}
			
		}
		
		
	}
	
	.prescriptionComments {
		td {
			border-top: none;
			font-weight:500;
			font-style: italic;
			
			&.prescriptionLabel {
		    	text-align: right;
		    	padding-right: 5px !important;
			}
		}
	}
}

.pharmacy_checkboxes {
	th {
	    width: 30%;
	}
	td {
	    width: 20%;
	}
}

