// OE Theatre Diaries

.oe-theatre-diaries {
	
	.theatres-list {
		
		// e.g Theatre One (Kings Hospital) 
		// group header
		h2 {
			@include font-size(17);
			font-weight:$oe-font-light; 
			margin:20px 0 15px 0;
			color:$oe-text-light;
		}
		
		// Theatre diary schedule group
		.schedule-group {
			position:relative;
			background:$oe-bg-highlight;
			padding:10px 5px 10px 10px;
			margin:0 0 20px 0;			
		}
	}
}


@import "schedule-group/heading-actions";
@import "schedule-group/theatre-bookings";
@import "schedule-group/session-comments";
@import "schedule-group/session-options";

