// OE Clinic List
// 
// 

table.oe-clinic-list {	
	width:100%;
	margin:1px 0 0 0;
	
	thead {
		tr {
			background:$oe-blue-dark;
			height:30px;
		}
	}
	
	tbody {
		// add line to help with reading data
		tr {
			background:$oe-blue-dark2;
			border-bottom:1px solid rgba(100,100,100,0.3);
			&:last-child { 
				border-bottom: none;
			}
			
			&:hover {
				background-color: $oe-bg-highlight;
			}
			
			
			// future appointments for that day i.e. haven't arrived yet
			&.future {
				background-color: $oe-blue-dark;	
				&:hover {
					background-color: $oe-bg-highlight;
				}			
			}
		}	
	}
				
	th, td, {
		
		&:first-child {
			padding-left:20px; // align with title
		}
	}
	
	// <th>
	th {
		@include font-size(12);
		text-align: left;  // overide default 'middle'
		font-weight: $oe-font-light;
		color:$oe-text-light;
	}
	
	// <td>
	td {
		@include font-size(14);
		color:$oe-text;
		vertical-align: middle;	
		padding:5px 0;
		
		// patient links
		a {
			color:$oe-text;
			&:hover, &:focus, &:active {
				color:$oe-text-highlight;
			}
		}
		
		.specialty {
			@include font-size(11);
			opacity:0.5;
		}
		
		// applied to duration td when completed - tick!
		&.complete {
			background-position:right 10px center;
			background-repeat: no-repeat;
			background-size:19px;
			background-image:url( svg-path('ui/tick-green') );
		}
		
		
		&.nowrap {
			width:1%;
			white-space: nowrap;
			padding-right:20px;
		}
		
		&.center {
			text-align: center;
			padding:0 10px;
		}
	}
}


