// OE Element - Add - Select or Search
// Popup box showing the common options 
// and an input to allow search with autocomplete

// the dom structure is different in R / L element split
// and the next relative elements is different effecting the 
// positioning.
.element-eyes {
	.oe-add-select-search {
		bottom:0; 
		right:0; 
	}
}

.oe-add-select-search {	
	position:fixed; 					// Fixed take it out of the Grid. 
	bottom:389; 						// JS will position this
	right:0; 
	z-index:$oe-z-tooltip; 				// make sure it floats over elements
	background:$oe-popup-bg;
	padding:10px 45px 10px 10px; 		// allow for icon-btns
	min-height:150px;
	@include font-size(12);			
	font-weight:500;
	
	&.align-left {
		right:auto;
		left:0;
	}
	
	// popup widths
	// history has 5 inputs lists, pro
	width:350px; 
	min-width: 350px;					// default width (to fit in Analytics column)
	&.auto-width {
		width:auto;
		
	}
	.close-icon-btn {
		position: absolute;
		top:10px;
		right:15px;
	}
	
	.select-icon-btn {
		position: absolute;
		top:41px;
		right:14px;
	}
	
	.search-icon-btn {
		position: absolute;
		top:70px;
		right:14px;
	}
	
	.add-icon-btn {
		position: absolute;
		bottom:10px;
		right:8px;
	}
	
	// input
	.type-search-autocomplete {
		margin:8px 0 4px 0;
	}
	
	// Select lists
	// are group in <td>
	table.select-options {	
		
		th {
			text-align: left;
			color:$oe-text-light;
			@include font-size(11);
			font-weight:$oe-font-light;
			padding:0 0 5px 0;
			
			&:last-child {
				text-align: left;
			}
		}
		
		td {
			vertical-align: top;
			padding:0 15px 0 0; // space the list groups 
			
			&:last-child {
				padding:0 0 0 0;
				text-align: left;
			}
		}		
	}

	// All options lists <ul>:
	.add-options{
		max-height:200px;		// limit the displayed results.  --------  200px 
		overflow-y: auto;
		margin:0 5px 0 0;
		
		&:last-child {
			margin:0 0 0 0;
		}
		
		li {
			display:block;
			cursor: pointer;
			padding:3px 8px 3px 8px;
			margin:0 0 2px 0;
			color:$oe-text;
			// border-radius:3px;
			background: shade( $oe-popup-bg, 10 );
			
			// data has a span wrapper to control the width
			// not possible through the li css
			// this assumes a text value:
			.restrict-width {
				display:inline-block;
				min-width:120px;
				max-width:130px;
			}
			
			// this is for numerics (i.e. 1,2,3 and 0.35)
			// this is <span>
			.auto-width {
				// white-space:nowrap; // this cause really look text to break the popup box
				// max-width: 250px;
			}
			
			
			&:hover, &:focus, &:active, &.selected {
				color:#fff;
				background: shade( $oe-popup-bg, 30 );
			}
			
			&.selected {
				color:#fff;
				background:$oe-btn-blue;
			}
			
			&.active {
				color:$oe-text-highlight;
			}
		}
	}
	
	// Search for Options, replaces ALL options (where offered)
	.search-options {
		width:290px;
		height:180px;
		.add-options {
			max-height:160px;
		}
	}
}

