// OE Element - EDIT

.main-event {
	.element {
		
		// element-fields is ONLY used in EDIT mode 
		// (view uses 'element-data')
		.element-fields {
			
			// for all Elements that aren't split into
			// R L Eye sides we need to adjust the padding
			&.full-width {
			 	padding-right:20px; // 20px matches the left-eye padding indent to align "+" buttons
				padding-left:10px;
			}
			
			.data-label {
				color:$oe-text-light;
			}
			
			// large text if needed, matches Element header size
			.large-text {
				@include font-size(14);
				font-weight:inherit;	
			}
			
			// extends the flex-item-bottom class
			// provides a margin space for the + and commment buttons
			.add-data-actions {
				margin:8px 0 0 0;
			}
			
		}
		
		// Within Elements there may be text that isn't
		// data, an example of this is in VA: "Not recorded"
		// note styles this text slightly different 
		.note {
			color:$oe-text-light;
			font-weight:$oe-font-light;
			margin:0 5px;
		}
		
		
		// left / right side 
		// in edit mode a 'side' has an 'active' & 'inactive' forms
		// i.e. DOM has both states and js switches between them
		.active-form {
			position:relative;
			// small cross icon to remove eye side
			.remove-side {
				position:absolute;
				top:-2px;
				right:-22px; // move outside into padding space
			}
		}
		
		// when in-active give option to add-side again
		.inactive-form {
			display:flex;
			align-content: center;
			.add-side {
				 margin: 10px auto;
				 align-self: center;
				 
				 // 'Add Left side'
				 // link style a bit differently to avoid 
				 // it looking like data
				 a {
					 color:$oe-element-headers;
					 &:hover, &:focus, &:active {
						 color:$oe-text-highlight;
					 }
				 }
			}
		}
	}
}
