// OE Element
// Elements can be
// Full width
// Full width (split)
// Tile (1 of 3 in a horizontal layout) - ONLY used in VIEW

.main-event {

	// element has 2 main states:
	// - 'full' (that can split to R L)
	// - 'tile' (used as 1 of 3 in tiled row)
	
	.element {
		position:relative;
		min-height:40px; // ensure element actions and header can always be seen	
		background: $oe-blue-dark2;
		padding:32px 5px 10px 10px; // provide top space for header/actions
		margin:0 0 3px 0;
		color:$oe-text;
		font-weight: $oe-font-medium;
		
		// group of 3 'tile' elements in rank
		&.tile {
			width: 33.33333%;
			margin:0 3px 3px 0;
			&:last-child {
				margin-right:0;
			}
			
			// tile elements have a restriction on the amount
			// of data they can show to stop huge med lists
			// breaking the UI...			
			.tile-data-overflow {
				position:relative;
				max-height:180px;
				overflow-y: auto;
				padding:0 5px 10px 0;
			}
			
			// but make sure hidden data is flagged to users
			.tile-more-data-flag {
				position:absolute; 
				z-index:1;
				bottom:0;
				left:0;
				display:flex;
				align-items: center;
				justify-content: center;
				width:100%;
				height:30px;
				background:rgba($oe-blue,0.8);
			}
		}
		
		// line to divide R & L
		&.eye-divider {
			background-image: url( svg-path-theme('element-divider') );
			background-position: 50.4% 0;
			background-repeat: repeat-y;
			background-size:19px;

			@include media($oe-extended-browser-size){
				background-position-x: 54.5%; // needs offseting because headers have dropped left
			}
		}
		
		// provide desktop user with element header highlight
		// highlight element focus
		// stop the re-sizing effect of adding a border:
		
		border:1px solid rgba(#fff,0);
		transition: border-color 0.2s ease-in; // animate
		
		&:hover, &:focus {
			border-color:$oe-btn-blue;
			
			.element-header {
				.element-title, .subelement-title {
					transition: color 0.5s ease-out;
					color:$oe-text-highlight;
				}
			}

		}
		
		// 'none', only used for 'none' i.e. 'no data available'
		.none {
			opacity:0.6;
			font-style: italic;
			font-weight: $oe-font-light;
		}
		
		// R & L data split
		.element-eyes {
			display:flex;
			align-items:flex-start;			
			justify-content:space-between;

			.right-eye {
				width:50%; 
				padding-left: 10px; 	// indent data
				padding-right: 30px;	// allow for action icons ( +5px to make same width as left-eye )
			}
			.left-eye {
				width:49.5%; 
				padding-left: 10px; 	// indent data
				padding-right: 25px; 	// allow for action icons
			}
		}
		
		
		// Field rows: simply provides padding between 'rows' of data
		// used in existing DOM so keeping for v3
		.field-row  {
			padding-bottom: 8px;
			&:last-child {
				padding-bottom: 0;
			}
		}
		
		// If last data row needs top spacing (i.e. comments textarea)
		.field-row-pad-top {
			padding-top: 8px;
		}			
	}
}

