// OE Element - Tables
// Tables are used to layout most element data
// to help better line up data down the element stack

.main-event {
	.element {
		
		// <table>
		table {
			
			&.pad-top {
				margin-top:20px;
			}
			
			&.pad-bottom {
				margin-bottom:20px;
			}
						
			// tables generally all require that the last cell 
			// is aligned right because it's an icon
			td:last-child, 
			th:last-child {
				text-align: right;
			}
			
			// however, if there is only ONE td
			// generally it should be aligned left...
			td:first-child, 
			th:first-child {
				text-align: left;
			}
			
			// make last left with class
			&.last-left {
				td:last-child, 
				th:last-child {
					text-align: left;
				}
			}
			
			// in View mode for simple label > value lists
			&.label-value {
				.data-label {
					opacity:0.7; // this works for both themes
					@include font-size(11);
					font-weight:$oe-font-medium;
					vertical-align: middle;
				}
				.data-value {
					@include font-size(13);
					font-weight:$oe-font-medium;
					vertical-align: middle;
				}
				
				&.no-lines {
					tr {
						border-bottom:none;
					}
				}
			}
			
			&.clickable-rows {
				tr {
					&:hover, &:active, &:focus {
						cursor: pointer;
						background:$oe-btn-blue; // row is a big button
						td {
							color:rgb(255,255,255);
						}
					}
				}
			}
			
			// add line to help with reading data
			tr {
				border-bottom:1px solid $oe-line;
				
				&:last-child { 
					border-bottom: none;
				}
				
				&.valign-top {
					td {
						vertical-align: top;
					}
				}
				
				&.divider {
					border-bottom-width: 6px;
				}
			}
			
			
			
			// decided to add a more descriptive class "large-text"
			&.large, &.large-text {
				td {
					@include font-size(14);
				}
			}
			
			&.priority, &.priority-text {
				td	{
					@include font-size(16);
					font-weight:$oe-font-medium;	
				}
			}
			
			
			th, td, {
				// the 4px indent for data provides 
				// a valuable breathing space for the
				// left side eye element data
				padding:1px 0 1px 4px;  
				@include font-size(12);
				
				&.nowrap {
					width:1%; // width required to make this work
					white-space: nowrap;	
					padding-right:10px; // because it's nowrap content must give the <td> padding  
				}
				
				&.center {
					text-align: center;
					padding:0 10px;
				}
				
				&.align-left {
					text-align: left;
				}
				
				&.align-right {
					text-align: right;
				}
			}
			
			// <th>
			th {
				text-align: left;  // overide default 'middle'
				font-weight: $oe-font-light;
				color:$oe-text-light;
			}
			
			// <td>
			td {
				vertical-align: middle;
				height:28px; 	
				
				textarea {
					vertical-align: middle; // ensure correct vertical alignment in <td>
				}
			}
			
			// tfoot, rarely used.
			// but if it is needs visual division from tbody
			tfoot {
				tr {
					border-top:3px solid $oe-line;
				}
			}
			
			
			
		}
	}
}
