// * OpenEyes UI v3.0
// *
// * (C) OpenEyes, 2017
// 
// * Highstock CSS styling to replace JS options 
// * using 'oes-hs-' prefix for HighStock Chart classes
//
// Based on https://code.highcharts.com/css/highcharts.css

// -- NOTE: SVG !! 
$oe-hs-eye-left:	rgb(254,103,103); 			// red
$oe-hs-eye-right:	rgb(159,236,109);			// green
$oe-hs-eye-left-dull:	shade( $oe-hs-eye-left,40 ); 		
$oe-hs-eye-right-dull:	shade( $oe-hs-eye-right,40 );			
$oe-hs-axes: 		rgb(150,150,150);
$oe-hs-bg: 			$oe-ui-blue-darker;
$oe-hs-blue:		rgb(61,176,251);  			// highlight blue


.highcharts-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: left;
  line-height: 1.2;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  @include font-size(12);
}

.highcharts-background {
  fill: $oe-hs-bg;
}

// SVG <svg>
// 
.highcharts-root {
	// SVG <text>
	// default styling for all SVG text
	text {
		fill:$oe-ui-text-light;
		stroke-width: 0;
	}
}

// -------------------  Eye Colour & Line styles
// This is the tricky bit...
// In HighChart you can assign a colorIndex or className to a series 
// but the className isn't used in the Navigator or Legend — the colorIndex is!
// colorIndex produces this class: "highcharts-color-[colorIndex]"  (0-9 are assigned automatically)
// My approach is to use a combination of custom colorIndex classes and classNames that will can 
// style the Right & Left Eye lines data:

// RIGHT Eye (Green): 
// - 	
// - 10 - fill only
// - 11 - solid
// - 12 - dotted
// - 13 - dashed
// 
// LEFT Eye (red) - the same but 20's

.highcharts-root {
	
	// specific color classes (no good if Legend or Navigator are shown)
	.oes-hs-eye-right-bright {
		fill: $oe-hs-eye-right;
	}
	.oes-hs-eye-right-dull {
		fill: $oe-hs-eye-right-dull;
	}
	.oes-hs-eye-left-bright {
		fill: $oe-hs-eye-left;
	}
	.oes-hs-eye-left-dull {
		fill: $oe-hs-eye-left-dull;
	}

	// Right Eye (Green)
	.highcharts-color-10,
	.highcharts-color-11, 
	.highcharts-color-12, 
	.highcharts-color-13 {
		stroke:$oe-hs-eye-right; 
		// fill is required as style applies to the series (this includes the Markers)
		fill: $oe-hs-eye-right;  
	}
	// fill only
	.highcharts-color-10 {
		stroke:none;
		stroke-width:0;
	}
	
	// Left Eye (Red)
	.highcharts-color-20,
	.highcharts-color-21, 
	.highcharts-color-22, 
	.highcharts-color-23 {
		stroke:$oe-hs-eye-left; 
		fill: $oe-hs-eye-left; 
	}
	// fill only
	.highcharts-color-20 {
		stroke:none;
		stroke-width:0;
	}
	
	.highcharts-color-12, 
	.highcharts-color-22, {
		stroke-dasharray: 2,2;  // space | pattern e.g dash,gap etc!
	}
	
	.highcharts-color-13,
	.highcharts-color-23,{
		stroke-dasharray: 3,6;  // space | pattern e.g dash,gap etc! 
	}
	
	// Axis plot lines (Targets, Date lines)
	.oes-hs-plotline-right {
		stroke:$oe-hs-eye-right; 
		stroke-dasharray: 2,8;
	}
	
	.oes-hs-plotline-left {
		stroke:$oe-hs-eye-left; 
		stroke-dasharray: 2,8;
	}

	.oes-hs-plotline-right-tight {
		stroke:$oe-hs-eye-right; 
		stroke-dasharray: 1,2;
	}
	
	.oes-hs-plotline-left-tight {
		stroke:$oe-hs-eye-left; 
		stroke-dasharray: 1,2;
	}
		
	.oes-hs-plotline-blue {
		stroke:#ccc; 
		stroke-dasharray: 1,2;
	}
	
	.highcharts-plot-line-label {
		@include font-size(11);
		fill: $oe-hs-blue;
	}
	
	
	// turn off the fill for specific series
	.highcharts-series {
		&.highcharts-line-series {
			stroke-width:2;	
			* {
				fill:none;
			}
		}
		&.highcharts-navigator-series {
			fill:none;
		}
	}
	
	
	
	// set up Markers - flags over drug banners
	.highcharts-markers {
		cursor: pointer;
		.highcharts-label {
			.highcharts-label-box {
				stroke-width:0; 		// both stroke-width and stroke none are required for crisp edge
				stroke:none;
			}
			text {
				fill:#fff;				// make sure text is white!
			}
		}
	}
	
	// Banners are custom SVG shapes drawn under the chart and overlaid with 
	.oes-banner-bg {
		stroke-width: 0;
		stroke: none;
		fill: tint( $oe-hs-bg,7 );
	}
	
	.oes-banner-title {
		@include font-size(12);
		fill:$oe-ui-text;
		* {
			fill:$oe-ui-text; // sometimes text is wrapped in <tspan>
		}
	}
	
	// columnrange Medication chart
	.oes-hs-columnrange-label {
		@include font-size(11);
		
		text {
			fill: $oe-ui-text;
		}
		
		.highcharts-data-label-box {
			stroke:none;
			fill:none;		// picks up the eye coloring for the series	
		}
		
		&:first-child {
			display:none; // columnRange addes 2 dataLabels, 1 before, 1 after, this hides the one after
		}
	}
	
	
	// sometimes a hidden data plot is require to increase the plot area
	.oes-hs-placeholder-hidden {
		fill:none !important;
		stroke:none !important;
	}
	
}


// ---------------------  General styling
.highcharts-strong {
  font-weight: 400;
}

.highcharts-emphasized {
  font-style: italic;
}

.highcharts-anchor {
  cursor: pointer;
}

.highcharts-plot-border, .highcharts-plot-background {
  fill: none;
}

.highcharts-button-box {
  fill: inherit;
}

// ---------------------  Title of chart
.highcharts-title {
	@include font-size(16);
	font-weight:300;
}

// ---------------------  Legend
.highcharts-legend-box {
  fill: $oe-hs-bg;
  stroke-width: 0;
}

.highcharts-legend-item {
	text {
	  cursor: pointer;
	  @include font-size(11);
	  &:hover {
		  fill: $oe-ui-text;	
	  }
	}
	
	// clicking on the legend item deactivates the series
	&.highcharts-legend-item-hidden {
		text {
			fill: shade( $oe-ui-text-light,15 );
		}
	}
}

// ---------------------  Axes & chart grid
// X axis
.highcharts-xaxis {
	stroke: $oe-hs-axes;
	.highcharts-tick {	// axis line increments
		stroke: $oe-hs-axes;
	}
	
	// use this class to 'hide' if you can't make it visible:false
	// e.g. you need the plotLines to show up on the xAxis
	&.oes-hide-xAxis-lines { 
		display:none;
	}
}

// Y Axis Grid (yAxis lines across chart) 
.highcharts-yaxis-grid {
	.highcharts-grid-line {
		stroke: tint( $oe-hs-bg,13 );
	}
}

// x and y grid lines on graph
.highcharts-grid-line {
	stroke: tint( $oe-hs-bg,2 ); // provide a visual X & Y hint 
}

// -------------------  Tooltips
.highcharts-tooltip {
	cursor: default;
	pointer-events: none;
	white-space: nowrap;
	transition: stroke 150ms;
	
	text {
		fill: $oe-ui-text;
	}
}
.highcharts-tooltip-box {
	fill: $oe-hs-bg;
	stroke: $oe-hs-blue;
	stroke-width: 2;
	stroke-dasharray: none;  // overide any eye line styles that cascade
}

.highcharts-point {
	stroke:none;
	stroke-width: 0;
}

// marker highlight
.highcharts-halo {
	fill-opacity: 0.1;
	stroke-width: 0;
	fill:#fff;
}

.highcharts-crosshair {
	stroke: $oe-hs-blue;
}


// ------------- buttons
.highcharts-button {
	cursor: pointer;
	fill: $oe-ui-blue;
	&:hover {
		text {
			fill:$oe-text;
		}
	}
}

.highcharts-range-selector-buttons {
	// hide the 'Zoom' text
	> text {
		display:none;
	}
}

// ------------- Navigator
.highcharts-navigator-mask-outside {
  fill-opacity: 0;
}

.highcharts-navigator-mask-inside {
  fill: $oe-hs-blue;
  // navigator.maskFill option
  fill-opacity: 0.3;
  cursor: ew-resize;
}

.highcharts-navigator-outline {
  stroke: $oe-hs-blue;
  fill: none;
}

.highcharts-navigator-handle {
  stroke: #999;
  fill: #777;
  cursor: ew-resize;
}

.highcharts-navigator-series {
  stroke-width:1;
}

.highcharts-navigator-xaxis {
	
	.highcharts-axis-line {
		stroke-width: 0; // hide
	}
	
	.highcharts-grid-line {
	  stroke-width: 1px;
	  stroke: tint( $oe-hs-bg,5) ;
	}
}

.highcharts-navigator-yaxis .highcharts-grid-line {
  stroke-width: 0; // hide
}

