// OE Header area.
// 
// 

.oe-nav {
	position:absolute;
	top:0; 
	right:0;
	height:$oe-header-height;
	
	// nav is <ul> list
	.oe-big-icons {		
		// li's 
		.oe-nav-btn {
			display:inline-block;
			position: relative; // for submenu positioning
			margin-left:1px;
			
			// menu NAV with SVG icons
			// 2 different structures
			// <a> - .icon-btn
			// .nav-js-btn is for JS controlled popup menus
			.icon-btn, 
			.nav-js-btn	{
				display: flex;
				align-items: center;
				height:$oe-header-height;
			}
			
			// <a>
			.icon-btn {
				&:hover, &:focus, &:active {
					background:$oe-btn-blue;
					.icon {
						opacity: 1;
					}
				}
			}
			
			// js controlled btn, needs to look like <a> 
			.nav-js-btn {
				padding:0 10px;
				cursor: pointer;
				&.active {
					background:$oe-btn-blue;
					.icon {
						opacity: 1;
					}
				}
				
				// Activity Panel requires 'click' to open
				&.open {
					.icon {
						fill:#0ff;
					}
				}	
			}
			
			// svg icon
			.icon {
				display:inline-block;
				width:40px;  
				height:20px;
				fill:#fff;
				opacity: 0.5;	
				
				&.open {
					fill:#0ff;
				}			
			}	
		}	
	}
}

