// OE Header area.
// 
// 

.oe-patient {
	position:absolute;
	top:0; 
	left:$oe-event-sidebar-width;
	height:$oe-header-height;
	width:545px;
	
	background:transparent url( svg-path('backgrounds/patient-watermark') ) top -4px right 10px no-repeat;
	background-size:90px 90px;	

	color:$oe-pro-text;
	@include font-size(11);
	
	$patient-padding:6px;
	
	.patient-name {
		position:absolute;
		top:12px; 
		left:0;
		@include font-size(17);
		font-weight:300;
	}
	
	.patient-details {
		position:absolute;
		bottom:0; 
		left:0;
		padding:0 20px 0 0;
	}
	
	.patient-demo-icon {
		position:absolute;
		bottom:4px; 
		right:0;
	}
	
	.hospital-number, .nhs-number, .patient-gender, .patient-age, .warning {
		display:inline-block;
		padding:0 $patient-padding 5px $patient-padding;
		border-left:1px solid $oe-pro-line;	
		
		span, em { opacity:0.5 }
	}
	
	.hospital-number {
		padding-left:0;
		border-left:none;
	}
	
	
	
	
	// icons 
	// - Quicklook : Medical data
	// - Demographics : Patient summary data
	// - Allergies & Risks
	// - Letter Lightening viewer
	.patient-quicklook, 
	.patient-demographics, 
	.patient-management, 
	.patient-allergies-risks,
	.patient-local-edit {
		position:absolute;
		padding:5px 10px 4px 10px; // increase icon hitarea
		cursor:pointer;
		
		// svg icon btn
		.icon {
			display:inline-block;
			fill:#fff;
			opacity: 0.8;				
		}	
	}
	
	// icon behaviour
	.patient-quicklook, 
	.patient-demographics,
	.patient-management {
		// js controlled interaction... 
		&.open, &.active {
			.icon {
				fill: $oe-pro-text-highlight;
			}
		}
	}
	
	// Allergies & Risks is always on a coloured background
	// Either Red or Green (no risks or allergies)
	.patient-allergies-risks {
		// js controlled interaction... 
		&.open, &.active {
			background: $oe-pro-text-highlight;
			color:$oe-pro-bg;
			.icon {
				fill: $oe-pro-bg;
			}
		}
	}

	
	// Eye
	.patient-quicklook {
		bottom:0;
		right:0;	
		.icon {
			width:15px;  
			height:15px;
		}
	}
	
	// dude
	.patient-management {
		bottom:0;
		right:29px;
		padding-bottom:3px; // use pad to increase hitarea.
		.icon {
			width:18px;  
			height:18px;
		}
	}
	
	// info 
	.patient-demographics {
		bottom:0;
		right:62px;
		padding-bottom:4px; // use pad to increase hitarea.
		.icon {
			width:16px;  
			height:16px;
		}
	}

	.patient-allergies-risks {
		bottom:0;
		right:105px;
	
		display:flex;
		align-items:center;
		padding:4px;
		background: $oe-warning-orange;
		
		.patient-warning {
			padding:0 4px 0 0;
		}
	
		.icon {
			width:15px;  
			height:15px;
		}
	}
	
	// Edit Patient when (local)
	// i.e, they are not a PAS integrated patient.
	.patient-local-edit {
		top:5px;
		right:0;
		.icon {
			width:15px;  
			height:15px;
			&:hover, &:focus, &:active {
				opacity: 1;
			}
			
		}
	}


}

