// OE Header area.
// 
// 

.oe-patient {
	position:absolute;
	top:0; 
	left:$oe-event-sidebar-width;
	height:$oe-header-height;
	width:545px;
	
	background:transparent url( svg-path('backgrounds/patient-watermark') ) top -4px right 10px no-repeat;
	background-size:90px 90px;	
}

@import "patient/data"; 
@import "patient/icons";

