// OE Oescape
// 
// Highcharts

.analytics-charts {
	margin:15px 20px 0 0; 
	width: calc(100% - 400px);
	
	// Highchart CSS is setup in _highcharts.scss
	// But easier to overwrite a few things to bring the 
	// look in line with Analyitcs here:
	.highcharts-background {
		fill: $html-pro-bg;
	}
	
	// add line to y axis
	.highcharts-yaxis {
		stroke: $oe-hs-axes;
		.highcharts-tick {	// axis line increments
			stroke: $oe-hs-axes;
		}
	}
}



