// OE Oescape
// 
// Highcharts

.analytics-charts {
	margin:15px 20px 0 0; 
	width: calc(100% - 400px);
	
	// Highchart CSS is setup for OEscape by default
	// see: oescape/highcharts
	// Here we overwrite a few things to bring the 
	// look in line with Analyitcs
	
	.highcharts-background {
		fill: $html-pro-bg;
	}
	
	// colorIndexs for series data in Analytics
	.highcharts-root {
		// colorIndexes for Analytics Data
		.highcharts-color-50 {
			fill: rgb(0,255,255); 
		}
		.highcharts-color-51 {
			fill: rgb(54,155,215); 
		}
		.highcharts-color-52 {
			fill: rgb(54,155,215); 
			stroke: rgb(54,155,215);	
		}
		.highcharts-color-53 {
			fill: rgb(230, 115, 0);
			stroke: rgb(230, 115, 0); 		
		}
		
		
		// error bars	
		.highcharts-boxplot-stem,
		.highcharts-boxplot-whisker {
			stroke: rgb(110,110,120);  
			stroke-width:1;
		}
		
		
	}
	
	// add line to y axis
	.highcharts-yaxis {
		stroke: $oe-hs-axes;
		.highcharts-tick {	// axis line increments
			stroke: $oe-hs-axes;
		}
	}
	

}



