// OE Admin

.oe-admin {

	// extends default structure: .oe-full-side-panel
	// using "subgrid"
	.admin-panels {
		padding:5px 10px 20px 10px;
		border-right:1px solid $oe-blue-light;
		
		
		
		// customise default vanilla styling... 
		.collapse-group {
			margin:10px 0 10px 0;
			
			.collapse-group-icon {
				top:-1px; // position by eye to align well with header
			}
			
			// <h3> in side panel is getting styled
			h3.collapse-group-header {
				padding:0 30px 0 0; // allow for icon
				margin:0; 
				color:$oe-text;
				font-weight: $oe-font-light;
			}
			
		}
	}
	
}

