// OE Admin


.oe-admin {	
	
	.admin-main {
		padding:0 10px 20px 0;
		
		// title (if this can't moved out of page
		// and into the header area)
		h2 {
			@include font-size(18);
			color:$oe-element-headers;
			font-weight: $oe-font-light;
			// opacity:0.7;
		}
		

		// extend 'standard'
		table.standard {
			th, td {
				@include font-size(12);		
			}
			
			tbody {
				td {
					padding:8px 10px 8px 0; 
					vertical-align: top;
					
					&:first-child {
						padding-left:3px;
					}
				}
			}
			
			tfoot {
				td {
					padding:20px 0 0 0;
					margin:20px 0 0 0;
				}
			}
		}
	
	}
	
}


