// OE Admin


.oe-admin {	
	
	.admin-main {
		padding:0 10px 20px 0;
		
		// title (if this can't moved out of page
		// and into the header area)
		h2 {
			@include font-size(18);
			color:$oe-text-light;
			font-weight: $oe-font-light;
		}
		

		// extend 'standard'
		table.standard {
			th, td {
				@include font-size(12);		
			}
			
			tbody {
				td {
					padding:8px 10px 8px 0; 
					vertical-align: top;
					
					&:first-child {
						padding-left:3px;
					}
					
					// in DICOM logs there are very long 
					// filenames these need restricting 
					// and wrapping
					.restrict-filename {
						word-wrap:break-word;
						width:200px;
					}
				}
			}
			
			tfoot {
				td {
					padding:20px 0 0 0;
					margin:20px 0 0 0;
				}
			}
		}
	
	}
	
}


