// Timeline options

// starting with strict coupling...
.oe-lightning-viewer {
	.lightning-timeline {
		
		z-index:1; // for the timeline options popup. 
		
		// popup options.
		// like Shortcuts BUT this is theme-able! 
		.timeline-options {
			
			.change-timeline {
				position:absolute;
				top:100%;
				left:0;
				width:300px; // arbitury
				
				background:$oe-btn-blue;
				padding:12px;
				
				@include font-size(12);
				font-weight:400;
				color:rgb(205,205,205);
				
				li {
					display:block; // not using flex, block works better here (because of the columns)
					margin:0 0 2px 0;
					height:19px;
					line-height:19px;
					@include font-size(12);
					font-weight:400;
					background: shade( $oe-btn-blue,10 );
					
					cursor: pointer;
					
					&:hover, &:focus, 
					&.selected {
						background-color: shade( $oe-btn-blue,30 );
						color:#fff;
					}
					
					i {
						margin:0 10px 0 0;
					}
				}
							
			}
		}
	}
}