// OE Element 
// 
// Multi-select v3

// <ul>
.oe-multi-select {
	
	margin:4px 0;
	
	&.inline {
		li {
			display:inline-flex;
			margin:2px 2px 0 0;
		}
	}
	
	li {
		display:flex;
		align-items: center;
		justify-content: space-between;
		padding:2px 4px 2px 6px; 
		margin:0 0 2px 0;
		color:$oe-user-input-text; 
		background: rgba($oe-user-inputs,0.5);
	}
}	

