// OE "Standard" Tables
// Tables are used a lot across OE.
// Here we establish a 'standard' table UI
// note: we do NOT target the default table DOM because
// of tables usage within Elements (SEM).
// see: http://idg.knowego.com/v3.0-UI/ui-tables

table {
	&.standard {
		width:100%;
		@include font-size(14);
		
		// this may need putting in a class
		margin:20px 0 10px 0;
		&:first-child {	
			margin:0 0 10px 0; 
		}
		
		// matches the default align for tables in Elements
		&.last-right {
			th, td {
				&:last-child {
					text-align: right;
				}
			}
		}
		
		$tableStandardPadding: 10px; 
		
		th, td {
			text-align: left;  // standardise align
			// made '.date' redundant... but still supporting it
			&.right,
			&.date {
				text-align: right;
				padding-right:$tableStandardPadding;
			}
		}
		
		thead {
			th {
				color:$oe-text-light;
				@include font-size(12);
				font-weight: $oe-font-light;
				padding:0 $tableStandardPadding $tableStandardPadding 0;
			}
		}
		
		tbody {
			tr {
				border-bottom:1px solid $oe-line;
				&:last-child { 
					border-bottom: none;
				}
			}
			
			td {
				color:$oe-text; 
				font-weight: $oe-font-medium;
				padding:5px $tableStandardPadding 5px 0; 
				
				&.valign-top {
					vertical-align: top;
				}
				
				&.nowrap {
					white-space: nowrap;
				}
			}
		}
		
		tfoot {
			tr {
				border-top:3px solid $oe-line;
				td {
					padding:5px $tableStandardPadding 5px 0; 
				}
			}
		}
	}
}

@import "tables/clickable-rows";
@import "tables/highlight-rows";
@import "tables/pagination";
// @import "tables/sortable"; not used, but DOM has class if I need hook 
