// OE tables
// Tables are used a lot. This creates a basic 'standard' OE style.
// It can be extend as needed: 'standard' <table>:
table.standard {
	width:100%;
	@include font-size(14);
	
	margin:20px 0 10px 0;
	&:first-child {	
		margin:0 0 10px 0; 
	}
	
	// this will match the default align for tables in Elements:
	&.last-right {
		th, td {
			&:last-child {
				text-align: right;
			}
		}
	}
	
	th, td {
		text-align: left;  // standardise align
		
		// made '.date' more generic (redundant)... 
		// but still supporting 'date' just in case still in use somewhwere
		&.right,
		&.date {
			text-align: right;
			padding-right:4px;
		}
	}
	
	thead {
		th {
			color:$oe-text-light;
			@include font-size(12);
			font-weight: $oe-font-light;
			padding:0 10px 10px 0;
		}
	}
	
	tbody {
		tr {
			border-bottom:1px solid $oe-line;
			&:last-child { 
				border-bottom: none;
			}
		}
		
		td {
			padding:5px 10px 5px 0; 
			font-weight: $oe-font-medium;
			color:$oe-text; 
			
			&.valign-top {
				vertical-align: top;
			}
		}
	}
	
	tfoot {
		tr {
			border-top:3px solid $oe-line;
			td {
				padding:5px 10px 5px 0; 
			}
		}
	}
}

@import "tables/clickable-rows";
