// Typography
//

html {
	// Experimented with this and decided to leave it set to default values	
	// but may return to it in the future... so leaving it here
	-webkit-font-smoothing: subpixel-antialiased; // this is the default setting in Chrome, including it incase it helps IE.
	//-webkit-font-smoothing: antialiased; // this is crisper but looks shit
	// text-rendering: optimizeLegibility; // default 'auto'
}

// default <a>
a {
	color:inherit;
	text-decoration: none;
	
	&.hint, // links can be lost in text
	&:hover, &:focus, &:active {
		color:$oe-text-active;
	}
	
	&.selected {
		color:$oe-text-highlight;
		font-weight:$oe-font-medium;
	}
}

// deliberately all setup to be too big. 
// all typography should be controlled specifically
h1,h2,h3,h4,h5,h6,p {
	@include font-size(16); // default 16px / 1rem
	font-weight:400;
}

// <p> are pretty rare, but styled in
// (used in Correspondence)
p {
	margin-bottom:10px;
	&:last-child {
		margin-bottom:0;
	}
}

// set weighting (depends on theme) 
strong, b {
	font-weight:$oe-font-bold;
}

// used to de-emphasis
// this will work across both PRO & Classic themes
.fade {
	opacity:0.7; 
}

// highlighter (like the pen)
// applied to text with <span>
.highlighter {
	background:$oe-highlighter;
	color:rgb(0,0,0);
	padding:2px 6px;
	font-weight:500;
	border-radius:2px;
	
	&.large-text {
		font-size:115%;
	}
	
	&.warning {
		background:$oe-alert-red;
		color:rgb(255,255,255);
	}
	
	&.orange {
		background:$oe-alert-orange;
		color:$oe-text;
	}
	
	&.good {
		background: $oe-alert-green;
		color:rgb(250,250,250);
	}
}

// text colour for R / L sides
// not sure if this used anywhere...
.right-color-text {
	color:rgb(0,160,0);
}

.left-color-text {
	color:rgb(160,0,0);
}


// increase textsize and line-height
// used in Correspondence and Message
// but could be generally helpful
.increase-text {
	//font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	line-height:1.6;
	font-size:110%;
	font-weight:500;
	padding:5px 10px;
}

// rarely used but available instead of an inline style
.align-right {
	text-align: right;
}





		