// OE Home: Search Results
// Patient Search Results - right hand side

.patient-search-results {
	
	// <table>
	.search-results {
		width: calc(100% - 300px);
		margin:10px 30px 20px 0;	

		// <tr> is clickable make <tr> more button-ish 
		th, td, {
			padding:10px 6px;  
			line-height:1.4;
		}
	}
}

