// * OpenEyes
// *

// Toolbar button.
.ed-button {
	background: #ddd;
	display: block;
	height: 32px;
	margin: 0;
	padding: 0;
	width: 32px;
	&:hover, &.hover {
		background: #118afb;
	}

	&.disabled {
		cursor: default;
		background: #ddd;
		opacity: 0.5;
	}
	.ed-doodle-popup-toolbar & {
		&:hover, &.hover {
			background: #118afb;
		}
	}
}