// Simplified Element layouts for print
.element {
	position:relative;
	min-height:40px; // ensure element actions and header can always be seen	
	padding:3px 5px 3px $element-title-max-width; // provide LEFT space for header/actions
	margin:0 0 3px 0;
	border-bottom:2px solid #ddd;		
}

