// CSS PRINT
.element {	
	// <h3> shifted to the left (extended view)
	.element-header {
		position:absolute;
		top:5px;
		left:0;
		max-width: $element-title-max-width;	// force to wrap to not overflow data			
		.element-title {
			font-size:$fontsize-base;
			font-weight:600;
		}	
	}	
}

