// Simplified Element layouts for print
.element {
	// line to divide R & L
	&.eye-divider {
		background-image: url( svg-path-theme('ui/element-divider') );
		background-position: 50% 0;
		background-repeat: repeat-y;
		background-size:19px;
	}
}

