// Simplified Element layouts for print
.element {
	
	table {
		border:none;
		margin:0.2em 0 0.5em 0;	
		tbody {
			tr {
				border-bottom:1px solid #ddd;
				&:last-child { 
					border-bottom: none;
				}
			}
		}
			
	}
	
}
