// OE Clinic List
// 
// - Add New Pathway for Individual and for ALL patients

.oe-clinic {
	
	.new-pathway-steps {
		padding:0 0 0 0;
		.group {
			padding:5px 0;	
		}
	}
	
	// Add to all is fixed and fills screen to emphasis it's function
	.add-to-all-pathways {
		position:fixed;	
		top:$oe-header-height + $oe-event-header-height;
		left: calc(100vw - 310px);
		z-index:$oe-z-tooltip;
		height: calc(100vh - 98px); 	// this can't be SASS variable, has to be written (must match 'top')
		border-left:1px solid $oe-text-highlight;
		padding:0 30px 15px 15px;
		width:310px;
		
		@include media($oe-browser-size-activity-panel-fixed){
			left: $oe-browser-size-activity-panel-fixed - $oe-activity-panel-width - 310px;
		}
		
	}
	
	// Add to individual pathway
	.add-new-pathway {
		position:absolute;
		top:0;
		left:0;
		z-index:$oe-z-tooltip;
		border:1px solid $oe-text-highlight;
		padding:0 30px 15px 15px;
		width:330px;
		border-radius:3px;
	}
	
	
	.add-new-pathway, .add-to-all-pathways {
		background:$oe-blue-darker;
		@include font-size(12);
		color:$oe-text;
		
		h3 {
			@include font-size(13);
			color:$oe-text-light;
			font-weight:300;
			margin:20px 0 5px 0;
			
			&.title {
				@include font-size(15);
				color:$oe-text;	
				margin:10px 0 15px 0;
			}
		}
		
		// cross icon
		.js-close-btn {
			position: absolute;
			top:8px;
			right:9px;
		}
		
		// overwrite default height (no time shown)
		.pathway-step {
			height:auto;
		}
		
		// Dilate options
		.option-list {
			label {
				margin-bottom:5px; 
			}
		}
		.add-btn {
			margin:10px 0 0 0;
			text-align: left;
		}
	}
	
	// .pathway-extra-options {}
}

