// OE Clinic List - Patient Quicklook
// 
// note: The styling of the Quicklook content is set in: popup-quicklook/ '_summary-data' and '_management'

.patient-clinic-quicklook {
	position:absolute;
	top:0;
	left:10px; // 325px
	z-index:$oe-z-tooltip;
	background:$oe-ui-blue-darker;
	border:1px solid $oe-text-highlight;
	padding:5px 8px 15px 8px;
	width:470px;
	border-radius:3px;
	
	// specific to clinic quicklook
	.patient-details {
		color:$oe-ui-text;
		@include font-size(14);
		padding:5px;
		
		.name {
			@include font-size(18);
		}
	}
	
	.subtitle { 
		margin:10px 3px 5px 0;
		@include font-size(14);
		font-weight:200; 
		color:$oe-ui-text-light; 
		text-align: right;
	}
}
