// OE Clinic List
// 
// 

.oe-clinic {
	
	// container for pathway-steps, used by js
	.pathway {
		display:inline-block;
		vertical-align: middle; // align +icon correctly
	}
	
	// pathway-steps created by js
	.pathway-step {
		// <span>  
		position: relative;
		display:inline-block;
		min-width:35px;
		margin:1px 3px 1px 0;
		padding:0 8px;
		height:38px;
		line-height:23px; // shift the text up
		@include font-size(12);
		font-style: italic;
		border-radius:3px;
		
		.time {
			position:absolute; 
			bottom:3px; 
			left:3px; 
			@include font-size(10);
			line-height:normal;
			opacity:0.7;
		}
		
		// Steps are either Pathway Events or meeting with Dr
		// the colouring for Dr is white with border colour.
		// Colour indicates whether on or behind schedule
		
		// for consistent vertical positioning
		border:2px solid transparent;
		
		// these colours must work in both themes
		background:		rgb(100,100,100); // default 
		$text-grey:		rgb(50,50,50);
		$text-white: 	rgb(240,240,240); // need a bright white for the colours (same for both themes)
		
		// text for all colours
		color:$text-white;
		
		// colours
		// currently the logic is:
		// green - done (but may have extra info if required)
		// orange - in progress. must have info (to remove at least)
		// grey - future event can be directly removed
		
		&.green { 
			background:$oe-clinic-green; 
		}
		
		&.orange { 
			background-color:$oe-clinic-orange; 
			background-position:bottom 1px center;
			background-repeat: no-repeat;
			background-size:13px;
			
			// info icon
			background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19"><title>info</title><style>*{fill:#fff;opacity:0.8}</style><path d="M9.5,0A9.5,9.5,0,1,0,19,9.5,9.5,9.5,0,0,0,9.5,0Zm2.12,16.69v-7L6.05,12.18l0,.64.52-.16a1.14,1.14,0,0,1,.83,0,.78.78,0,0,1,.44.49A6.29,6.29,0,0,1,8,14.79l0,2a7.51,7.51,0,1,1,3.68-.15Z"/><circle cx="9.5" cy="6.59" r="2.12"/></svg>');
			
			cursor: pointer;
		}
	
		&.red, &.dna { 
			background:$oe-clinic-red; 
			line-height:34px;		// center text (no time)
		}
			
		// currently unused but kept incase. 
		&.blue { 
			background:$oe-grey; 
			color:$text-white;	
			&.late {
				border-color:rgb(230,150,0); // this matches table late flag
			}
		}
		
		
		// used in the addPathway popup box to add new steps
		&.next-step-add {
			cursor:pointer;
			
			&.dr {
				color:$text-white;
				border-color:$text-white;
			}
			
			&:hover, &:active, &:focus {
				background:$oe-btn-blue;
			}				
		}
		
		// used in pathway (has remove icon)
		&.next-step {
			@extend .next-step-add;
			&:hover, &:active, &:focus {
				color: transparent; 
				background-image: url( "../svg/in-css/remove-circle.svg" );
				background-size: 13px;
				background-repeat: no-repeat;
				background-position: center center;
			}
			
		}
	}
}