// OE Sidebar - VIEW
// 
// 

.sidebar { 
	
	// <li>
	.event {
		position: relative;
		display:block;
		margin: 0 0 1px 0;	
		
		a {
			height:$oe-sidebar-event-height;
			line-height:$oe-sidebar-event-height;
			
			.tag {
				position: absolute;
				top:0;
				right:0;
			}
		}		
	}
	
	.event {
		a {
			display:block;
			position:relative;
	
			@include font-size(12);
			font-weight:400;
			color: $oe-pro-text-light; 
			background:$oe-pro-blue;
			
			&:hover, &:focus, &:active {
				color:#fff;
				background:$oe-btn-blue;
				
				.tag {
					color:#fff;
					background:transparent;
				}
			}
		}
		
		.tag {
			display:inline-flex;
			justify-content:center;
			align-items: center;
			
			width:$oe-sidebar-tag-size;
			height:$oe-sidebar-tag-size;
			
			@include font-size(10);
			font-weight:400;
			
			color: $oe-pro-text-light;
			background:$oe-pro-blue-dark;
		}
		  
		&.selected {
			a {
				color:$oe-pro-text-highlight;
				background: $oe-pro-popup-bg;
				.tag {
					color:$oe-pro-text-highlight;
					background:transparent;
				}
			}	
		}
	}

	
}


