// OE Sidebar - EDIT
// 
// DOM for Element:
// <li class="element"><a href="#" class="[error selected]">Element</a></li>
//

.sidebar { 
	
	.collapse-group {
		.oe-element-list {
			margin:0 1px 0 0;
		}
	}
	
	// <ul>
	.oe-element-list {
		margin:10px 1px 0 0; 
		
		// <li>
		.element {
			margin:0 0 0 0;
		}
		
		// Elements <a>
		a {
			position:relative;
			display:block;
			margin:0 0 1px 0;
			padding:0 12px 0 8px;
			min-height:$oe-sidebar-event-height; // min-height to allow long names to wrap
			line-height:$oe-sidebar-event-height;
			
			@include font-size(11); 
			font-weight:400;
			font-style: italic;
			color:$oe-pro-text-light;
			background:$oe-pro-blue; 
			
			
			&:hover, &:focus {
				color: $oe-pro-text-highlight;
				background-color:$oe-pro-popup-bg;
			}
			
			&.selected {
				color: $oe-pro-text; // electric blue was too much for select state
				// background-color:$oe-pro-popup-bg; // background colour removed
			}
			
			&.error {
				color:rgb(255,255,255);
				background-color: $oe-alert-red; // flag error with element
			}
			
			// add right arrow to the backround:
			background-position:right center;
			background-repeat: no-repeat;
			background-size:13px;
			background-image:url( svg-path('ui/sidebar/direction-right') );
			
		
		}
			
	}
	
}


