// OE Sidebar Event Nav 
// (View)

.sidebar { 
	// <li> 
	.event {
		// <span>
		// event-type wraps the icon, event status: normal, alert, ready
		// also includes secondary icon space for show Eye laterality or other things  			
		.event-type {
			display: inline-block;
			height:$oe-sidebar-event-height;
			width:50px;
				
			// background SVG icons		
			background-position:right 10px center;
			background-repeat: no-repeat;
			background-size:$oe-sidebar-event-height - 6px;
			
			// eye for quicklook
			background-image:url( svg-path('sidebar/eye') );
			
			// warning star
			&.alert {
				background-image:url( svg-path('sidebar/warning') );
			}
			// tick
			&.ready {
				background-image:url( svg-path('sidebar/tick') );
			}
		}
		
		// <span>
		// space for extra event data
		// (altho not much)... created to add Eye laterality info 
		.event-extra {
			display: inline-block;
			width: 32px; // 32 will allow for 2 medium icons to be dropped in
		}
		
		// <span>
		// event date layout
		.event-date {
			display: inline-block;
			vertical-align:top;
			padding:0 0 0 0; // allow for .ev_date
				  
			.day, .mth, .yr {
			  display: inline-block;
			  height:$oe-sidebar-event-height;
			  vertical-align: middle;
			}
			
			.day {
				width: 22px;
				text-align: right;
				padding-right: 5px; 
			}
			
			.mth {
				width: 30px;
			}
			
			.yr {
				width: 23px; 
			}
		}
	}
}


