// OE Sidebar
// 
// 

.sidebar {
	
	// order Events by...
	// v2: when new Event Filter v3 is implemented
	// this class can be removed.
	.sidebar-grouping {
		width:100%;	
		padding-left:5px;
		margin:4px 0 4px 0;

		// <select> dropdown
		.grouping-picker {
			width:99%;
			color:$oe-pro-user-input-text;
			background:$oe-pro-popup-bg;
		}

	}
	
	// container for Event Element Groups
	.groupings {
		padding-bottom:30px;

		// <h3>
		.collapse-group-header {
			@include font-size(13);
			font-weight:300;
			color: $oe-pro-text-light ;
			padding:10px 25px 5px 5px;  // position tweaked to align with icon and pad to stop overwrite.
			
			&:hover, &:focus {
				color: $oe-pro-text;
			}
			
			// used to show the number of events in the group
			.count {
				@include font-size(10);
			}
		}	
	}
}

