// OE Theatre Diaries

.oe-theatre-diaries {
	
	.theatres-list {
			
		// Theatre diary schedule group
		.schedule-group {
			
			.theatre-sessions {
				
				.session-comments {
					@include font-size(13);
					font-weight: $oe-font-medium;
					vertical-align: bottom;
					color:$oe-text;
					
					.oe-i {
						vertical-align: bottom;
					}
				}
			}
		}
	}
}


