// * OE 3.0 Print config

$font-stack: ('Roboto','Helvetica','Arial',sans-serif);

// print font-sizes 
$fontsize-base: 	10pt;
$fontsize-h1: 		18pt;
$fontsize-h2:		15pt;
$fontsize-h3:		13pt;
$fontsize-normal:	11pt; 	// h4 & p
$fontsize-small: 	8pt;	// h5



