// OE PRINT

.banner {
    position: relative;
    max-height: 100px;
    margin-bottom:20px;
    
    .letter-seal {
		width: 50% !important;
		display: inline-block;
		
		img {
			width: 80px !important;
		}
	}
	
	.letter-logo {
		float:right;
	}
	
	.ophdrprescription-letter-logo {
		width: 49%;
		display: inline-block;
		
		img {
			width: 350px;
		}

	}
}
