// OE PRINT
// CSS grabbed and modified from OE v2 print styling.
// not great v3.0 requires a quick fix to work with current DOM

html {
	background: #fff;
	font-family: 'Roboto','Helvetica','Arial',sans-serif;
	font-weight:400;
	font-size: $fontsize-base;
}

// empty <div>
.spacer {
	height:2em;
}

.break {
	page-break-after: always !important;
}

hr {
	border-top:2px solid #ddd;
}

.nowrap {
	white-space: nowrap;
}

// indicate place to input data with 
// dotted line. 
div.dotted-write {
	height:2em;
	width:100%;
	border-bottom:2px dotted rgb(100,100,100);
	
	&.cols-half {
		width:50%;
	}
	
	&.cols-quarter {
		width: 25%;
	}
}


// clearfix is unnecessary (should be flex)
// but keeping in case it helps 
// with DOM transition 
.clearfix {
	zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

div.clearfix {
    clear: both;
}




