// OE Hotlist Panel (RHS)
// On minimum 1280px displays hidden, on 1800px+ fixed displayed 

.oe-hotlist-panel {
	display:none; 			// js controlled.
	z-index:$oe-z-hotlist; 	// overlays content
			
	position:fixed;
	top:$oe-header-height;
	right:0;
	height: calc(100vh - #{$oe-header-height}); 	
	overflow-y:auto;		// otherwise this over-flow doesn't work.
	
	width:$oe-hotlist-panel-width;
	
	@include media($oe-js-browser-fix-size){		// 1890px
		// as we are going up to 1920px we have an extra 30px... use them
		width: calc(100vw - #{$oe-js-browser-fix-size - $oe-hotlist-panel-width}); 
		// for those with crazy monitors restrict it
		max-width: 600px !important;			
	}
	
	
	
	background:tint( $oe-pro-bg,10 );
	padding:0 0 20px 0;	
	border-left:2px solid rgba($oe-bg-highlight,0.5);

}

@import "hotlist-panel/overview";
@import "hotlist-panel/activity-list";
@import "hotlist-panel/hotlist-quicklook";
// @import "activity-panel/msg-timeline"; // chat / message system 

