// OE Lightning Viewer
// Generic rapid viewer of Doc Stacks

.oe-lightning-viewer {
	background:$oe-blue-dark;
	
	// Timeline has options (dropdown) 
	// and icons in <table> to create the timeline
	.lightning-timeline {
		position: relative;
		background:$oe-blue-dark2;
		padding:5px 4px 5px 10px;
	}
	
	// PNG preview placeholder
	.oe-lightning-quick-view { 
		margin-top:5px; 
	} 
}


@import 'lightning/timeline';
@import 'lightning/timeline-lightning-btn';
@import 'lightning/timeline-options';
@import 'lightning/timeline-icons';
@import 'lightning/image-meta';


