// OE Logo & help
// 
// 

.openeyes-brand {
	z-index:$oe-z-logo;
	position:fixed;
	top:0; 
	left:0;
	max-width:$oe-event-sidebar-width;
	background: $oe-ui-blue;
	
	.oe-logo {
		position:absolute;
		top:20px;
		left:45px;
		
		// SVG
		.oe-openeyes {
			display:inline-block;
			// SVG logo maintain aspect ratio
			$svg-width:100px;
			$svg-height: ( $svg-width * 0.1844 );
	
			width:$svg-width; 
			height:$svg-height;
			fill:#fff;
			opacity:0.3;
		}
		
		// js controlled interaction... 
		&.open, &.active {
			.oe-openeyes {
				fill:#0ff;
				opacity:0.8;
			}
		}
	}

	.oe-product-info {
		display:none; // js controlled.
		margin:$oe-header-height 0 0 20px;
		padding:0 10px 50px 0;	
		
		p {
			@include font-size(11);
			color:$oe-ui-text;
			font-weight:300;
			line-height:1.4;
			
			&.gap {
				margin:12px 0 0 0;
			}
			
			a {
				color:#0ff;
			}
			
		}
		
		h3 {
			@include font-size(23);
			font-weight:200;
			color:$oe-ui-text;
			margin:0 0 5px 0;
		}

	}
}

