// OEscape ICONS
// Oescape 2 letter blocks (i.e. GL for Glaucoma)
// I think there are 14 approx
// used in Sidebar, OEscape header and Analytics
// OEscapes = Specialities

// <ul>
.oescape-icon-btns {
	// <li>
	.icon-btn {
		display: inline-block;
		vertical-align: top; // required for inline-list v-alignment
		margin:0 2px 2px 0;
		
		a {
			display:block;
			height:28px;
			width:28px; 
			
			display: flex;
			align-items: center;
			justify-content: center;
			
			@include font-size(14);
			font-weight: 300;
			color:$oe-pro-text;
			background:$oe-pro-blue-dark; 
			
			// lightning viewer icon added to oescape group
			&.lightning-viewer-icon {
				svg {
					display:block;
					fill:rgba(255,255,255,0.6);
					width:15px;  
					height:15px;
				}
			}
		
			// set up states
			&.active {					
				&:hover, &:focus, &:active {
					color:#fff;
					background:$oe-btn-blue;
					svg {
						fill:rgb(255,255,255);
					}
				}
			}
			
			&.selected {
				color:$oe-pro-text-highlight;
				svg {
					fill:$oe-pro-text-highlight;
				}
			}
			
			&.inactive {
				opacity:0.4;
				cursor: default;
			}
			
			
		}
	}
}
	

