// OE Patient Popups.
// 

// --- patient allergies & risks, quicklook and demographics
//
// note: Clinic Quicklook is cut down verions of Quicklook for Clinic lists

.patient-popup-allergies-risks, 
.patient-popup-quicklook, 
.patient-popup-tasks, 
.patient-popup-demographics {
	
	display:none; // js controlled.
	z-index:$oe-z-quicklook;
	position: fixed;
	top:$oe-header-height;
	left:$oe-event-sidebar-width;
	width:$oe-event-main-default-width;
	
	background:$oe-ui-bg;
	border:1px solid $oe-ui-text-highlight;
	padding:10px 10px 15px 10px;
	
	// overflow wrappers alerts and summary-data
	.oe-popup-overflow {	
		max-height: 415px; 
		overflow: auto;
		padding:0 3px 0 0;
	}
	
	// area subtitles
	.subtitle { 
		position:relative;
		display:block;
		margin:5px 0 10px 0;
		padding:10px 0 0 0;
		@include font-size(18);
		font-weight:200; 
		color:$oe-ui-text-light; 
	}
}

@import "patient-popups/summary-data"; 
@import "patient-popups/management";
@import "patient-popups/problems-plans"; 
@import "patient-popups/demographics"; 
@import "patient-popups/allergies-risks"; 




