// OE SEM Events sidebar
// 

// local vars 
$oe-sidebar-tag-size:19px;
$oe-sidebar-sub-height:21px;
$oe-sidebar-event-height:19px;

.sidebar {
	padding:2px 1px 80px 0; // pad bottom to allow for quicklook popup 
	background: $html-pro-bg;
	
	.oescape-icons {
		margin:0 0 0 6px;
	}
}

// VIEW states
@import "sidebar/view";
@import "sidebar/events";
@import "sidebar/quicklook";
@import "sidebar/list-controls";
@import "sidebar/grouping";
@import "sidebar/lightning-viewer";

// EDIT 
@import "sidebar/edit";








