// OE Element - Add - Select or Type
// Popup box showing the common options 
// and an input to allow search with autocomplete

.main-event {
	
	.element {
		.oe-add-select-type	{
			display:none; // displayed by JS 
			z-index:9; // make sure it floats over elements
			position:absolute; 
			bottom:0; 
			right:0; 
			width:420px; // fixed width because of the auto-complete options
			background:$oe-user-selected;
			border:3px solid $oe-blue-darker;
			padding:10px 5px;
			border-radius:5px;
			
			.oe-add-select-type-cancel {
				position: absolute;
				top:10px;
				right:15px;
			}
			
			// input
			.type-search-autocomplete {
				margin:8px 0 4px 0;
			}
			
			// <ul>
			.oe-ast-options{
				li {
					cursor: pointer;
					padding:2px 4px;
					color:$oe-text;
					border-radius:3px;
					
					&:hover, &:focus, &:active {
						color:#fff;
						background:$oe-btn-blue;
					}
					
					&.selected {
						color:$oe-text-highlight;
					}
				}
				
				&.common-options {
					max-height:240px;		// limit the displayed results.
					overflow-y: auto;
					li {
						margin-right:30px; // allow for close button
					}
				}
				
				&.type-search-results {
					max-height:150px;		// limit the displayed results.
					overflow-y: auto; 
				}
			}
		}
	}
}
