// OE Element - Eyedraw - Surgeon Orientation 
// Show the angle of Surgeon Orientaion to patient

.main-event {
	.element {
		// ---- used in VIEW & EDIT
		.eyedraw {
			
			$ed-surgeon-orientation-w:180px;
			$ed-surgeon-size:60px;
			
			// container.
			.ed-surgeon-orientation {
				position:relative;
				width:$ed-surgeon-orientation-w; 
				height:120px;
				margin:20px;
				
				// align the title
				display:flex;
				align-items: flex-end;
				justify-content: center;
				
				// patient on op bed svg
				background-position:center bottom 20px; // allow for the title
				background-repeat: no-repeat;
				background-size:75px;
				background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><title>patient-op</title><style>path{fill:rgb(130,130,130);}</style><path d="M83.67,99.28a2,2,0,0,1-2-2V58.67H63.75a2,2,0,0,1,0-4H85.67v42.6A2,2,0,0,1,83.67,99.28Z"/><path d="M16.33,99.28a2,2,0,0,1-2-2V54.67H35.25a2,2,0,0,1,0,4H18.33v38.6A2,2,0,0,1,16.33,99.28Z"/><path d="M72,66.06a19.78,19.78,0,0,0-7.72-4.26,17.45,17.45,0,1,0-29,.37A19,19,0,0,0,28.91,66c-5.52,5.35-8.33,20.29-8.66,32.73l5,.13c.36-13.3,3.36-25.61,7.14-29.27a16.2,16.2,0,0,1,6.69-3.48,17.35,17.35,0,0,0,21.38-.21c3.57.86,6.44,2.14,8,3.67,2.65,2.63,5.72,14.31,6.28,29.32l5-.18C79.23,85.83,76.65,70.72,72,66.06ZM37.17,52.27A12.46,12.46,0,1,1,49.63,64.73,12.47,12.47,0,0,1,37.17,52.27Z"/><path d="M46.35,54.53H42.1a1.5,1.5,0,0,1,0-3h4.25a1.5,1.5,0,0,1,0,3Z"/><path d="M57.22,54.53H53a1.5,1.5,0,0,1,0-3h4.25a1.5,1.5,0,0,1,0,3Z"/></svg>');
				
				// positioned by flex
				.title {
					@include font-size(12);
					color:rgb(130,130,130);
				}
				
				// surgeon icon
				.ed-surgeon-angle {
					position:absolute;
					top:0;
					left:0;
					width:$ed-surgeon-size; 
					height:$ed-surgeon-size;
					
					// svg surgeon icon
					background-position:top left;
					background-repeat: no-repeat;
					background-size:$ed-surgeon-size;
					background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><title>surgeon</title><style>path{fill:rgb(70,70,70);}</style><polygon points="40 69.39 49.46 59.94 47.59 58.07 40 65.66 32.41 58.07 30.54 59.94 40 69.39"/><path d="M57.9,34.22c0-.37.06-.74.06-1.12A18,18,0,0,0,22,33.1c0,.38,0,.75.06,1.12A30.72,30.72,0,0,0,6.3,61.35a3.5,3.5,0,0,0,7,0A23.78,23.78,0,0,1,24,41.3,17.92,17.92,0,0,0,56,41.3,23.78,23.78,0,0,1,66.7,61.35a3.5,3.5,0,0,0,7,0A30.72,30.72,0,0,0,57.9,34.22ZM40,45.06a12,12,0,1,1,12-12A12,12,0,0,1,40,45.06Z"/></svg>');
					
					// positions relate to the patient's eyes
					&.surgeon-pos-right {
						top:40px;
						left:8px;
						transform: rotate(-90deg);
					}
					
					&.surgeon-pos-right-top {
						top:10px;
						left:25px;
						transform: rotate(-45deg);
					}
					
					&.surgeon-pos-top {
						top:5px;
						left:100px - 40px;
					}
					
					&.surgeon-pos-left-top {
						top:10px;
						left:$ed-surgeon-orientation-w - $ed-surgeon-size - 25px;
						transform: rotate(45deg);
					}
					
					&.surgeon-pos-left {
						top:40px;
						left:$ed-surgeon-orientation-w - $ed-surgeon-size - 8px;
						transform: rotate(90deg);
					}

				}

			}		
		}
		
	}
}
