// OE Element - EDIT

.main-event {
	.element {
		
		.element-fields {
			.data-label {
				color:$oe-text-light;
			}
		}
		
		// left / right side 
		// in edit mode a 'side' has an active & inactive form
		.active-form {
			position:relative;
			.remove-side {
				position:absolute;
				top:-2px;
				right:-17px; // move outside into padding space
			}
		}
	
		.inactive-form {
			display:flex;
			align-content: center;
			.add-side {
				 margin: 10px auto;
				 align-self: center;
			}
		}

		
	}
}
