// OE Element - Flex layouts
//
// Extra Flex classes for element layouts

.main-event {
	.element {
		
		.flex-layout {
			
			// for full width edit elements
			&.flex-pad-element {
				padding-right:20px; // 20px matches the left-eye padding indent to align "+" buttons
				padding-left:10px;
			}
			
			// align of item in flex container
			// - used: 'Add' buttons in Edit Elements
			.flex-valign-bottom {
				align-self: flex-end;
				position:relative; // required oe-add-select-type input popup
			}
				
		}

	}
}
