// OE Element - Tables
// Tables are used to layout most element data
// to help better line up data down the element stack

.main-event {
	.element {
		
		// <table>
		table {
						
			// tables generally all require that the last cell 
			// is aligned right
			td:last-child, 
			th:last-child {
					text-align: right;
			}
			
			
			// in View mode for simple label > value lists
			&.label-value {
				td:first-child {
					opacity:0.6; // this works for both themes
					font-weight:$oe-font-medium;
				}
			}
			
			// add line to help with reading data
			tr {
				border-bottom:1px solid $oe-line;
				&:last-child { 
					border-bottom: none;
				}
			}
			
			th, td, {
			
				// the 4px indent for data provides 
				// a valuable breathing space for the
				// left side eye element data
				padding:1px 0 1px 4px;  
				@include font-size(12);
				
				&.nowrap {
					width:1%;
					white-space: nowrap;
					padding-right:10px;
				}
				
				&.center {
					text-align: center;
					padding:0 10px;
				}
			}
			
			// <th>
			th {
				text-align: left;  // overide default 'middle'
				font-weight: $oe-font-light;
				color:$oe-text-light;
			}
			
			// <td>
			td {
				vertical-align: middle;
				height:28px; 	
				
				textarea {
					vertical-align: middle; // ensure correct vertical alignment in <td>
				}
			}
		}
	}
}
