// <input>
// default set up for all inputs
input {
	padding:5px;
	border-radius: 3px;
	height: auto;
	
	&::-webkit-input-placeholder { 
		color:shade( $oe-user-input-text,20 ); // Chrome
	}
	&:-ms-input-placeholder { // IE 10+ 
	  	color:shade( $oe-user-input-text,20 );
	}
	&::placeholder {
		color:shade( $oe-user-input-text,20 ); // Future?
	}
}

// search and left right search
// L / R search is only used in SEM Exam Edit
input {
	&.search {
		padding-left:30px;
		background-position:left 5px center;
		background-repeat: no-repeat;
		// search icon
		background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19"><style>path{fill:#fff;opacity:0.5}</style><path d="M11,1.75a6.24,6.24,0,0,0-4.91,10.1L1.82,16.12l-.18.18.18.18.71.71.18.18.18-.18,4.26-4.26A6.25,6.25,0,1,0,11,1.75Zm0,11A4.77,4.77,0,1,1,15.77,8,4.78,4.78,0,0,1,11,12.77Z"/></svg>');

		&.right {
			// search icon + 'Right' text
			padding-left:0;
			background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="19" viewBox="0 0 60 19"><style>*{fill:#fff;opacity:0.7}</style><path d="M25,3.85a15.88,15.88,0,0,1,2.53-.19,4.26,4.26,0,0,1,2.83.74,2.33,2.33,0,0,1,.79,1.84,2.45,2.45,0,0,1-1.66,2.3v0a2.34,2.34,0,0,1,1.28,1.77,18.33,18.33,0,0,0,.72,2.56H29.77a13,13,0,0,1-.61-2.17c-.26-1.2-.69-1.58-1.65-1.61h-.84v3.77H25Zm1.66,4.06h1c1.13,0,1.84-.6,1.84-1.51s-.71-1.47-1.8-1.47a4.79,4.79,0,0,0-1,.08Z"/><path d="M34.61,4.42a.94.94,0,1,1-.94-.91A.89.89,0,0,1,34.61,4.42Zm-1.79,8.49V6.28h1.69v6.64Z"/><path d="M42.32,11.95a3.85,3.85,0,0,1-1,3,3.82,3.82,0,0,1-2.56.8,4.7,4.7,0,0,1-2.32-.53L36.83,14a4,4,0,0,0,1.93.5,1.76,1.76,0,0,0,1.91-2v-.57h0a2.24,2.24,0,0,1-1.93,1,2.94,2.94,0,0,1-2.82-3.24c0-2.18,1.42-3.5,3-3.5a2.09,2.09,0,0,1,1.92,1h0l.07-.89h1.46c0,.45-.05,1-.05,1.91Zm-1.68-3a1.65,1.65,0,0,0-.05-.45,1.39,1.39,0,0,0-1.36-1.08c-.94,0-1.63.82-1.63,2.17,0,1.13.57,2,1.62,2a1.43,1.43,0,0,0,1.36-1,2.87,2.87,0,0,0,.07-.6Z"/><path d="M44.13,3.24h1.69v4h0a2.24,2.24,0,0,1,.83-.76,2.27,2.27,0,0,1,1.14-.3c1.13,0,2.32.75,2.32,2.88v3.91H48.46V9.19c0-1-.35-1.69-1.28-1.69a1.37,1.37,0,0,0-1.29.94,1.4,1.4,0,0,0-.07.5v4H44.13Z"/><path d="M53.78,4.57v1.7h1.59V7.53H53.78v2.93c0,.8.22,1.23.86,1.23a2.07,2.07,0,0,0,.65-.08l0,1.28a3.61,3.61,0,0,1-1.21.18,2,2,0,0,1-1.44-.56,2.65,2.65,0,0,1-.52-1.85V7.53h-1V6.28h1V5.05Z"/><path d="M11,1.75a6.24,6.24,0,0,0-4.91,10.1L1.82,16.12l-.18.18.18.18.71.71.18.18.18-.18,4.26-4.26A6.25,6.25,0,1,0,11,1.75Zm0,11A4.77,4.77,0,1,1,15.77,8,4.78,4.78,0,0,1,11,12.77Z"/></svg>');
			
			&:focus { background-image:none; }		
		}
		
		&.left {
			// search icon + 'Left' text
			padding-left:0;
			background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="19" viewBox="0 0 60 19"><style>*{fill:#fff;opacity:0.7}</style><path d="M25,3.73h1.68v7.78h3.77v1.4H25Z"/><path d="M32.69,10.06a1.8,1.8,0,0,0,2,1.72,5,5,0,0,0,1.84-.3l.25,1.16a6.23,6.23,0,0,1-2.32.42A3.15,3.15,0,0,1,31.08,9.7a3.29,3.29,0,0,1,3.24-3.57c2.17,0,2.86,1.77,2.86,3.23a4.06,4.06,0,0,1-.05.71ZM35.6,8.89a1.43,1.43,0,0,0-1.38-1.62,1.64,1.64,0,0,0-1.54,1.62Z"/><path d="M38.73,12.91V7.53h-.9V6.28h.9V6a3.1,3.1,0,0,1,.8-2.26,2.54,2.54,0,0,1,1.73-.64,3.25,3.25,0,0,1,1.08.16l-.12,1.29a2,2,0,0,0-.71-.12c-.83,0-1.12.69-1.12,1.51v.34h1.46V7.53H40.4v5.38Z"/><path d="M45,4.57v1.7h1.59V7.53H45v2.93c0,.8.22,1.23.86,1.23a2.07,2.07,0,0,0,.65-.08l0,1.28a3.61,3.61,0,0,1-1.21.18,2,2,0,0,1-1.44-.56,2.65,2.65,0,0,1-.52-1.85V7.53h-1V6.28h1V5.05Z"/><path d="M11,1.75a6.24,6.24,0,0,0-4.91,10.1L1.82,16.12l-.18.18.18.18.71.71.18.18.18-.18,4.26-4.26A6.25,6.25,0,1,0,11,1.75Zm0,11A4.77,4.77,0,1,1,15.77,8,4.78,4.78,0,0,1,11,12.77Z"/></svg>');
			
			&:focus { background-image:none; }
		}
	}
}

// Normalize for range
input[type="range"] {
	width: 100%;
}

// Normalize file input width
input[type="file"] {
	width: 100%;
}

