// <input>
// default set up for all inputs
input, textarea {
	padding:5px;
	margin:1px 0;
	border-radius: 3px;
	height: auto;
	
	&::-webkit-input-placeholder { 
		color:$oe-input-placeholder; // Chrome
	}
	&:-ms-input-placeholder { // IE 10+ 
	  	color:$oe-input-placeholder;
	}
	&::placeholder {
		color:$oe-input-placeholder; // Future?
	}
}


input {
	// add SEARCH icon to input	
	&.search {
		padding-left:30px;
		background-position:left 5px center;
		background-repeat: no-repeat;
		// search icon
		background-image:url( svg-path('ui/search') );
	}
	// add FILTER icon to input
	&.filter {
		padding-left:30px;
		background-position:left 5px center;
		background-repeat: no-repeat;
		// search icon
		background-image:url( svg-path('ui/filter') );
	}
}

// Normalize for range
input[type="range"] {
	width: 100%;
}

// Normalize file input width
input[type="file"] {
	width: 100%;
}

