// OE Popups
// notes: see openeyes/components/popups

.oe-popup {
	margin:auto; /* flex (wrapper) */ 
	position:relative;
	background: $oe-pro-popup-bg;
	min-width: 600px;
	max-width: $oe-event-main-default-width; 
	padding: 20px;
	color:$oe-pro-text;

	.title {
		@include font-size(18);
		font-weight:300;
		color:$oe-pro-text;
		padding:0 0 10px 0;
	}
	
	// wraps the remove icon
	.close-icon-btn {
		position:absolute;
		top:20px;
		right:20px;
	}
	
}
