// OE Event Quickview Preview Panel
// 
// Pop on Event hover to show quick PNG preview of Event
// 
// Event screen grabs *should* be saved as PNG 8-bit and at 50% size
// For the purpose of IDG demo these are 520px width

.oe-event-quickview {
	display:none; // js controlled.
	z-index:$oe-z-hotlist; // overlays content
	
	position:fixed;
	top: $oe-header-height;
	left:$oe-event-sidebar-width;
	height: calc(100vh - 60px); // this can't be SASS variable has to be written (must match $oe-header-height) 
	overflow:hidden;
	
	background: $oe-pro-popup-bg; // colour to match sidebar quicklook	
	
	// IDG demo PNGs are 520px wide
	$png-width:537px; 
	$padding:5px;
	$icons-space:40px; 
	
	width: ($png-width + $padding + $icons-space);
	
	// main wrapper
	.event-quickview {
		position: relative;
		
		.quickview-details {
			height: $oe-event-header-height; // pushes down PNGs so that they line up with Event Header baseline
			display:flex;
			
			.event-icon {
				position:absolute;
				top:0;
				left:0;
			}
		
			.event-date {
				margin:auto; /* flex */
				@include font-size(14);
				color:$oe-pro-text;
				font-weight:$oe-font-light;
			}
			
			// touch devices will access this through a 'click'
			// provide controls for these users: 
			.step-through-arrows {
				position:absolute;
				top:$oe-event-header-height;
				right:5px;
				padding:$padding;
				
				// has up down icons: 
				.oe-i {
					display:block;
					margin:0 0 10px 0;
				}
				
			}
		}
		
		.quickview-screenshots {
			padding:$padding 0 0 $padding;
			img {
				width:$png-width;
				height:auto;
			}
		}
		
	}	
}

