// OE Sidebar Header
//

.sidebar-header {
	
	display:flex;
	background:$oe-pro-grey;
	
	.add-event {
		height:$oe-event-header-height;
		width:100%;
		color: $oe-pro-user-input-text; 		// UI theme
		background: $oe-pro-user-inputs; 	    // UI theme
		border-radius:0;
	}
	
	.title {
		@include font-size(13);
		font-weight:300;
		color:$oe-pro-text-light;			// UI theme
		
		margin:auto;
	}
	
	// anything in here should be UI themed 
	input, textarea, select {
		color: $oe-pro-user-input-text;
		background-color: $oe-pro-user-inputs;
		border-radius:0;
	}
	
}



