// note: sizing controlled by oe-grid.scss

// oe-full-header 
// top strip?: Page name and buttons (like Print)
.oe-full-header {
	position:relative;
	background:$oe-grey;
	padding:0 0 0 20px;

	.title {
		color:$oe-text-light;
		text-transform: uppercase;
		@include font-size(24);
		font-weight:200;
		line-height:$oe-event-header-height;
		
		&.wordcaps {
			text-transform: capitalize;
		}
	}
	
	// create 'tab' buttons (like Event Header)
	@include buttons {
		vertical-align: top; // overwrite default 'bottom' to fix alignment issues
		height:$oe-event-header-height;
		padding:0 16px;
		
		// icon buttons in header
		&.icon {
			padding:0 0; // remove default padding
			.oe-i {
				padding:0 20px; // pad out icon instead (to make clickable)
			}
		}
	}
}
