// Home - messages
// 

.home-messages {
	
	// <table>
	.messages {
		width: calc(100% - 300px);
		margin:0 30px 20px 0;	
			
		td:last-child, 
		th:last-child {
			text-align: right;
			padding-right:0;
		}	
				
		// add line to help with reading data
		tr {
			border-bottom:1px solid $oe-line;
			&:last-child { 
				border-bottom: none;
			}
			
			&:hover {
				background:$oe-blue-dark1;
			}
			
			// unread messages text color
			&.unread {
				td {
					color:$oe-text;
					&:last-child {
						color:$oe-text-light;
					}
				}
			}
		}
		
		// default
		th, td, {
			color:$oe-text-light;
			padding:10px 6px;  
			@include font-size(12);
			line-height:1.4;
		}
		
		// <th>
		th {
			text-align: left;  // overide default 'middle'
			font-weight: 300;
		}
		
		// <td>
		td {
			vertical-align: middle;	
			.urgent-message {
				fill:$oe-warning-orange;
			}
			
			&.nowrap {
				white-space: nowrap;
				padding-right:16px
			}
			
			&.patient {
				border-right:2px solid $oe-line;
				padding-right:12px
			}
		}
		
		// messages 
		.message {
			width:100%;
			height:1rem;
			overflow: hidden;
			
			&.expand {
				height:auto;
			}
			
		}
	}
}

