// CSS3 OE Grid

// IE implementation of the Grid:
// grid-template-columns as -ms-grid-columns
// grid-template-rows as -ms-grid-rows
// grid-row-start as -ms-grid-row
// grid-column-start as -ms-grid-column
// align-self as -ms-grid-column-align
// justify-self as -ms-grid-row-align

// -ms-grid-column-span and -ms-grid-row-span

// CSS grid for OE. Default set up is for SEM layout
.oe-grid {
	// for Edge < 16
	display: -ms-grid;
	-ms-grid-columns: $oe-event-sidebar-width 1fr;
	-ms-grid-rows: $oe-header-height $oe-event-header-height 1fr;		
	
	// CSS3:
	// Grid is setup for primary usage (SEM pages)
	display: grid;
	grid-template-columns: $oe-event-sidebar-width auto;
	grid-template-rows: $oe-header-height $oe-event-header-height auto;	
	grid-template-areas: 
    	"header header"
		"addevent eventheader"
		"sidebar main";
		
	width:100vw;
	height:100vh;
	max-height:100vh; // I think required for Edge < 16. Needs testing!
			
	// grid items MUST be direct descendants
	// Logo, Patient, User:
	.oe-header {
		// for Edge < 16
		-ms-grid-column: 1; 
		-ms-grid-row: 1; 
		-ms-grid-column-span: 2; 
		height:$oe-header-height; 	
		
		// Everyone else:	
		grid-area: header;
	}
	
	// --------------------------------------- SEM layout
	// Sidebar header (Add New Event button)
	.sidebar-header {
		height:$oe-event-header-height;  
		width:$oe-event-sidebar-width; 
		
		// for Edge < 16
		-ms-grid-column: 1; 
		-ms-grid-row: 2;
		// CSS3		
		grid-area: addevent;
	}
	
	// sidebar for all Sub-specialties and Events
	.sidebar {
		width:$oe-event-sidebar-width;	
		
		// for Edge < 16
		-ms-grid-column: 1;
		-ms-grid-row: 3;
		// CSS3
		grid-area: sidebar;
		overflow-y:auto;
	}
	
	// --------------------------------------- Restrict Widths
	
	// 2 fix widths to better handle complex data layouts
	.event-header, 
	.lightening-viewer,
	.main-event {
		width:$oe-event-main-default-width;
		@include media($oe-extended-browser-size){
			width:$oe-event-main-extended-width;
		}
	}
	// full width header and content allows for the 
	// activity panel which is fixed at large resolutions. 
	// JS controls the fixing: fixed at 1800px;
	.oe-full-header, .oe-full-content {
		@include media($oe-browser-size-activity-panel-fixed){
			width: $oe-browser-size-activity-panel-fixed - $oe-activity-panel-width;
		}
	}
	
	// Event Header (View, Edit, Print, Save, etc)
	.event-header {
		z-index:1; 
		height:$oe-event-header-height; 

		// for Edge < 16
		-ms-grid-column: 2;
		-ms-grid-row: 2;
		// CSS3
		grid-area: eventheader;
	}
	
	// width is fixed because of activity panel
	.main-event {
		// for Edge < 16
		-ms-grid-column: 2;
		-ms-grid-row: 3;
		// CSS3
		grid-area: main;
		overflow-y:auto;
	}	
	
	// --------------------------------------- Lightening Viewer
	// replaces event-header & main-event area
	.lightening-viewer {
		// for Edge < 16
		-ms-grid-column: 2;
		-ms-grid-row: 2;
		-ms-grid-row-span: 2;
		// CSS3
		grid-area: 2 / 2 / 4 / 3 ; // can't use the areas (areas are named for SEM layout)
		overflow-y:auto;
	}
	
	// --------------------------------------- Home 
	.oe-home {
		// for Edge < 16
		-ms-grid-column: 1; 
		-ms-grid-row: 1;
		-ms-grid-column-span: 2;
		-ms-grid-row-span: 2;
		// CSS3
		grid-area: 2 / 1 / 4 / 3 ; 
		overflow-y:auto;
	}
	
	
	// --------------------------------------- OE Full width (allows for activity panel to be fixed)
	// --------------------------------------- + OEscape, Analytics
	// OE Full Width, OEscape, Analytics
	// full width header
	.oe-full-header,
	.oescape-header,
	.analytics-header  {
		// for Edge < 16
		-ms-grid-column: 1; 
		-ms-grid-row: 2;
		-ms-grid-column-span: 2;
		// CSS3
		grid-area: 2 / 1 / 3 / 3 ; 
	}
	// & full width content area
	.oe-full-content,
	.oescape,
	.analytics  {
		// for Edge < 16
		-ms-grid-column: 1; 
		-ms-grid-row: 2;
		-ms-grid-column-span: 2;
		// CSS3
		grid-area: 3 / 1 / 4 / 3 ; 
		overflow-y:auto;
	}	
	
}
