// OE Eyedraw APP
// -----------------------------------
// Eyedraw popup APP

.oe-eyedraw-app {	

	.ed-data-row {
		display:flex;
		justify-content:flex-start;
		margin:10px 0 10px 10px;
		
		// Cells & Flare
		.ed-extra-options {
			width:230px;
			
			label {
				margin:0 0 5px 0;
			}
		}
		
		// Report 
		.ed-data {
			@include font-size(13);
			line-height:1.4;
			width:300px; // restrict width (canvas width)

			.data-label {
				@include font-size(15);
			}
			.data-value {
				max-height:100px;
				overflow-y:auto;
			}
		}
		
		// Comments
		.ed-comments {
			margin:3px 20px;
			width:275px; // restrict width
			textarea {
				background: tint( $oe-ed-bg,50 );
				color:#333;
			}
		}
	}

	
}