// OE Eyedraw APP
// -----------------------------------
// Eyedraw popup APP

.oe-eyedraw-app {	

	// close & save buttons
	.ed-close-save {
		position:absolute;
		bottom:$ed-padding; 
		right:$ed-padding;
		z-index:1;
	}

	
}