// OE Element - Eyedraw - Surgeon Orientation 
// Show the angle of Surgeon Orientaion to patient

// de-coupled for use in VIEW & EDIT elements and Eyedraw App popups

$ed-surgeon-orientation-w:180px;
$ed-surgeon-size:60px;

// container.
.ed-surgeon-orientation {
	position:relative;
	width:$ed-surgeon-orientation-w; 
	height:120px;
	margin:5px;
	
	// align the title
	display:flex;
	align-items: flex-end;
	justify-content: center;
	
	// patient on op bed svg
	background-position:center bottom 20px; // allow for the title
	background-repeat: no-repeat;
	background-size:75px;
	background-image:url('../svg/in-css/eyedraw/op-patient.svg');
	
	// positioned by flex
	.title {
		@include font-size(12);
		color:rgb(130,130,130);
	}
	
	// surgeon icon
	.ed-surgeon-angle {
		position:absolute;
		top:0;
		left:0;
		width:$ed-surgeon-size; 
		height:$ed-surgeon-size;
		
		// svg surgeon icon
		background-position:top left;
		background-repeat: no-repeat;
		background-size:$ed-surgeon-size;
		background-image:url('../svg/in-css/eyedraw/op-surgeon.svg');
		
		// positions relate to the patient's eyes
		&.surgeon-pos-right {
			top:35px;
			left:8px;
			transform: rotate(-90deg);
		}
		
		&.surgeon-pos-right-top {
			top:5px;
			left:25px;
			transform: rotate(-45deg);
		}
		
		&.surgeon-pos-top {
			top:-5px;
			left:100px - 40px;
		}
		
		&.surgeon-pos-left-top {
			top:5px;
			left:$ed-surgeon-orientation-w - $ed-surgeon-size - 25px;
			transform: rotate(45deg);
		}
		
		&.surgeon-pos-left {
			top:35px;
			left:$ed-surgeon-orientation-w - $ed-surgeon-size - 8px;
			transform: rotate(90deg);
		}

	}

}		

