// OE Eyedraw APP
// -----------------------------------
// Eyedraw popup APP

.oe-eyedraw-app {	

	// Context sensitive panel - left
	.ed-doodle-context {
		background: $oe-ed-panels;
		flex: 1; // fill remaining space
		
		// icon and text showing selected Doodle
		.ed-doodle-active {
			background: $oe-ed-bg;
			margin:0 0 10px 0;
		}
		
		.ed-doodle-toolbar {
			display:flex;
			justify-content:space-between;
			align-items:center;
			height:$ed-top-panel-height;
			padding:0 0 0 $ed-padding;
		}
		
		.ed-doodle-controls {
			padding:0 $ed-padding $ed-padding $ed-padding;
			.doodle-option {
				display:flex;
				justify-content:space-between;
				align-items:center;
				margin:0 0 3px 0;
				min-height:25px;
			}
		}
	}

	
}