// OE 3.0 globals
// Note: some local variables are located in specific sass 

// ----------------------
// PRO theme colors
// ----------------------

// colours are mostly the default UI theme colours

$html-bg:				$html-pro-bg;

$oe-text: 				$oe-pro-text;
$oe-text-light: 		$oe-pro-text-light;
$oe-text-highlight:		$oe-pro-text-highlight;

$oe-blue:				$oe-pro-blue;
$oe-blue-dark: 			$oe-pro-blue-dark;
$oe-blue-dark1: 		$oe-blue-dark; 	// because I keep using 'dark1' instead of 'dark'
$oe-blue-dark2: 		$oe-pro-blue-dark2;
$oe-blue-dark3:			$oe-pro-blue-dark3;
$oe-blue-light: 		$oe-pro-blue-light;
$oe-blue-light2: 		$oe-pro-blue-light2;
$oe-blue-light3: 		$oe-pro-blue-light3;

$oe-grey:				rgb(40,52,66);
$oe-line:				rgb(38,48,61); // don't use alphas, tables with td colspan 2 overlap

// <a> links
$oe-a-blue-hover:		$oe-pro-text-highlight;

// buttons
$oe-btn-blue:			rgb(7,69,152);
$oe-btn-green:			rgb(14,94,35);
$oe-btn-red:			rgb(143,14,14);
// hints
$oe-btn-blue-hint: 		shade( $oe-btn-blue,40 );
$oe-btn-green-hint: 	shade( $oe-btn-green,40 );
$oe-btn-red-hint: 		shade( $oe-btn-red,40 );

$oe-user-selected:		$oe-pro-user-selected;

// input colours:
$oe-user-inputs: 		$oe-blue;
$oe-user-input-text: 	$oe-text;

// flags
$oe-warning-orange:		rgb(117,30,0);


// ... different SVGs for 'pro' & 'classic' theme
@function svg-path-theme($svg){
	@return "../svg/in-css/" + $svg + ".svg";
}



