// * OE 3.0 Globals vars
// * Note: some local variables are located in specific sass files
//  
// * OE v3.0 has a main theme: "PRO" but it also provides a 'classic'
// * theme for users who prefer viewing the data in the 'old' way
// * however, in Classic some of elements are set as 'PRO'.  

$font-stack: ('Roboto','Helvetica','Arial',sans-serif);

// note: CSS3 grid is used for layouts, see structure

// grid px
$oe-header-height:						60px; 	// top UI bar
$oe-event-header-height:				38px; 	// event header
$oe-event-sidebar-width:				200px;	// event sidebar
$oe-event-main-default-width:			1080px; // for average monitors
$oe-hotlist-panel-width:				450px; 	// activity panel 
$oe-eyedraw-app-width:					($oe-event-main-default-width + 180px);  // eyedraw popup app

// Wide screen users
// note: activity panel + extended event area + sidebar must NOT exceed 1920px (1910px ideally)
$oe-event-extension:					160px; // this just works for laptop width (1440px)
$oe-event-main-extended-width:			(1080px + $oe-event-extension); // 160px extra width to move headers left.
$oe-extended-browser-size: 				(1280px + $oe-event-extension); // 1280px is default. 
$oe-browser-size-activity-panel-fixed:	1800px; // this is based on the JS setting for fixing the activity panel


// z
$oe-z-vc:				160;
$oe-z-logo:				150; 
$oe-z-popup:			100;
$oe-z-shortcuts:		99;
$oe-z-activity:			95;
$oe-z-quicklook:		90; // & demographics, allergies & risks
$oe-z-element-search:	80; 
$oe-z-tooltip:			60;
$oe-z-ed-v2: 			20; // ED v2 DOM			


// UI colors 
// (Pro theme, but here because of the need to keep some Pro theme elements in Classsic)

$html-pro-bg: 			rgb(16,25,37);

$oe-pro-text: 			rgba(255,255,255,0.8 );
$oe-pro-text-light: 	rgba(255,255,255,0.5 );
$oe-pro-text-highlight: rgb(0,255,255);
$oe-pro-text-active: 	rgb(90,180,180); 

$oe-pro-blue:			rgb(30,46,66);
$oe-pro-blue-dark: 		shade( $oe-pro-blue, 20% );
$oe-pro-blue-dark2: 	shade( $oe-pro-blue, 35% );
$oe-pro-blue-dark3: 	shade( $oe-pro-blue, 25% );
$oe-pro-blue-light: 	tint( $oe-pro-blue, 30% );

$oe-pro-bg-highlight: 	shade($oe-pro-blue-dark3,30); // used as hover highlight

$oe-pro-grey:			rgb(40,52,66);

$oe-pro-bg:				$oe-pro-blue-dark2; // top header strip
$oe-pro-line: 			rgb(38,48,61);

// Virtual Clinic
$oe-vc-orange: 			rgb(255,180,0);


// input colours:
$oe-pro-user-inputs: 	$oe-pro-blue;
$oe-pro-user-input-text: $oe-pro-text;

$oe-pro-popup-bg:		rgb(55,71,85);

// eyedraw
$oe-ed-bg:				rgb(218,230,241); 
$oe-ed-panels: 			shade( $oe-ed-bg,10 ); 


// SVG paths - general UI
@function svg-path($svg){
	@return "../svg/in-css/" + $svg + ".svg";
}

