// * OE 3.0 Globals vars
// * Note: some local variables are located in specific sass
//  
// * OE v3.0 has 1 main theme: PRO but it all provides a 'classic'
// * theme for old users who prefer viewing the data in the old way
// * however, in Classic some of the PRO theme is still used.  

$font-stack: ('Roboto','Helvetica','Arial',sans-serif);

// note: CSS3 grid is used for layouts, see structure

// grid px
$oe-header-height:						60px; 	// top UI bar
$oe-event-header-height:				38px; 	// event header
$oe-event-sidebar-width:				200px;	// event sidebar
$oe-event-main-default-width:			1080px; // for average monitors
$oe-activity-panel-width:				450px; 	// activity panel 
$oe-eyedraw-app-width:					($oe-event-main-default-width + 180px);  // eyedraw popup app

// Wide screen users
// note: activity panel + extended event area + sidebar must NOT exceed 1920px (1910px ideally)
$oe-event-extension:					160px; // this just works for laptop width (1440px)
$oe-event-main-extended-width:			(1080px + $oe-event-extension); // 160px extra width to move headers left.
$oe-extended-browser-size: 				(1280px + $oe-event-extension); // 1280px is default. 
$oe-browser-size-activity-panel-fixed:	1800px; // this is based on the JS setting for fixing the activity panel


// z
$oe-z-logo:				101;
$oe-z-shortcuts:		99;
$oe-z-activity:			95;
$oe-z-quicklook:		90; // & demographics, allergies & risks
$oe-z-element-search:	80; 
$oe-z-popup:			70; 
$oe-z-tooltip:			60;


// UI colors 
// (Pro theme, but here because of the need to keep some Pro theme elements in Classsic)

$html-pro-bg: 			rgb(21,32,55);

$oe-pro-text: 			rgba( #fff,0.8 );
$oe-pro-text-light: 	rgba( #fff,0.5 );
$oe-pro-text-highlight: rgb(0,255,255);;

$oe-pro-blue:			rgb(30,46,66);
$oe-pro-blue-dark: 		shade( $oe-pro-blue, 20% );
$oe-pro-blue-dark2: 	shade( $oe-pro-blue, 35% );
$oe-pro-blue-dark3: 	shade( $oe-pro-blue, 45% );
$oe-pro-blue-light: 	tint( $oe-pro-blue, 10% );
$oe-pro-blue-light2: 	tint( $oe-pro-blue, 30% );
$oe-pro-blue-light3: 	tint( $oe-pro-blue, 60% );

$oe-pro-grey:			rgb(40,52,66);

$oe-pro-bg:				$oe-pro-blue-dark2; // top header strip
$oe-pro-line: 			rgb(38,48,61);

// input colours:
$oe-pro-user-inputs: 	$oe-pro-blue;
$oe-pro-user-input-text: $oe-pro-text;

$oe-pro-user-selected:	rgb(55,71,85);

// eyedraw
$oe-ed-bg:				rgb(218,230,241); 
$oe-ed-panels: 			shade( $oe-ed-bg,10 ); 


// SVG paths - general UI SVGs
@function svg-path($svg){
	@return "../svg/in-css/" + $svg + ".svg";
}


