// OE 3.0 globals
// Note: some local variables are located in specific sass 


// -------------------------------------------
// CLASSIC theme colors (inverted - sort of...)
// -------------------------------------------

$html-bg:				$html-pro-bg; // frames classic with surround.

$oe-text: 				rgb(10,10,10);
$oe-text-light:			rgb(80,80,100);
$oe-text-highlight:		rgb(0,0,200);
$oe-text-active:		rgb(0,0,255);


// classic, light background / dark text
// called 'blue' as they overwrite the default PRO theme vars
$oe-blue:				rgb(240,240,240); 
$oe-blue-dark: 			rgb(180,180,180);
$oe-blue-dark2: 		rgb(215,215,215);  
$oe-blue-dark3:			rgb(115,120,132); // - exception dark3 is not 'inverted' in classic
$oe-blue-light: 		shade( $oe-blue-dark,30);

// because I keep using 'dark1' instead of 'dark'
$oe-blue-dark1: $oe-blue-dark; 

$oe-grey:				rgb(220,220,220); // 'grey' because PRO is default scheme
$oe-line:				rgb(180,180,210); // don't use alphas! - tables with td colspan 2 overlap

// the PRO theme has white text on a dark background
// it visually bleeds. When it's reversed to black on white
// the reverse is true... so: 
$oe-font-light: 400; 	// push 300 weights to 400 in Classic
$oe-font-medium: 500;   // push 400 weights to 500
$oe-font-bold: 600;  	// push 500 weights to 600

// buttons
$oe-btn-default:		rgb(235,235,240);
$oe-btn-selected:		rgb(220,220,230);
$oe-btn-event-header: 	tint($oe-grey,10); // event header buttons need to work like tabs
$oe-btn-blue:			rgb(40,110,224);
$oe-btn-green:			rgb(14,154,51);
$oe-btn-red:			rgb(225,57,57);
// hints
$oe-btn-blue-hint: 		tint( $oe-btn-blue,20% );
$oe-btn-green-hint: 	shade( $oe-btn-green,10% );
$oe-btn-red-hint: 		shade( $oe-btn-red,10% );

$oe-popup-bg:			rgb(245,245,245); // tool-tip, add-select-search, element-search-popup

// input colours:
$oe-user-inputs:		rgb(255,255,255);
$oe-user-inputs-hint: 	shade($oe-user-inputs,10); // label/input highlight
$oe-user-input-text: 	rgb(0,0,0);
$oe-input-placeholder: 	rgb(151,151,151);

// flags
$oe-highlighter: 		rgba(255,210,72,0.7);
$oe-risks-warning:		rgb(117,30,0);

$oe-alert-green: 		rgb(0,155,0);
$oe-alert-red:			rgb(205,0,0);
$oe-alert-orange: 		rgb(225,172,0);
$oe-alert-grey: 		rgb(140,140,140); 

$oe-status-green:		rgb(0,190,0);
$oe-status-red:			rgb(210,0,0);
$oe-status-amber:		rgb(225,152,0);

$oe-bg-highlight: 		rgb(230,230,230); // used as hover highlight 
// colors 
$oe-bg-hint-green:		rgb(180,200,180);
$oe-bg-hint-red:		rgb(230,180,180);

// icon opacity (default)
$oe-icon-opacity: 		0.6;	
	


// specific customisation of elements
// impossible to always find a clever colour
// solution for both themes so... 
$oe-element-headers:   	rgb(20,20,150); 	// element default header colour
$oe-home-search-bg:   	rgb(80,92,106);	// Home page Search area background
$oe-tooltip-bg:			rgb(250,250,250);

// ... different SVGs for 'pro' & 'classic' theme
@function svg-icon-path-theme($svg){
	@return "../svg/in-css/icons/_classic/" + $svg + ".svg";
}

// ... add theme suffix
@function svg-path-theme($svg){
	@return "../svg/in-css/" + $svg + ".classic.svg";
}





