// OE alert boxes
// 
// Standardised from v2.0 UI
// Hard to know how many of these will be required in OEv3

.alert-box {
	padding:10px;
	margin:5px;
	
	@include font-size(12);
	color:$oe-pro-text;
	line-height:1.4;
	
	border-radius:3px;
	
	strong {
		font-weight:500;
	}
	
	background: $oe-blue-dark;
	
	&.alert { 
		background: $oe-blue-dark; 
	}
	
	&.success, 
	&.info {
		background: $oe-btn-green;
	}
	
	&.patient,
	&.issue,
	&.warning,
	&.error, 
	&.injection-warning  {
		color: #fff;
		background: $oe-warning-orange;
	}
}

// warning text bg
.warning-flag-bg {
	color:$oe-pro-text;
	background-color:$oe-warning-orange;
	padding:5px 8px;
}
