// OE alert boxes
// 
// Standardised from v2.0 UI
// Hard to know how many of these will be required in OEv3

.alert-box {
	padding:4px 10px;
	margin:1px 2px;
	
	color:$oe-text;
	@include font-size(13);
	line-height:1.4;
	
	border-radius:3px;
	
	strong {
		font-weight:500;
	}
	
	background: $oe-blue-dark;
	
	&.success, 
	&.info {
		color: rgb(240,240,240);
		background: $oe-alert-green;
	}
	
	&.alert,
	&.issue {
		background:$oe-alert-orange;
	}
	
	&.warning,
	&.error, 
	&.injection-warning  {
		color: rgb(240,240,240);
		background: $oe-alert-red;
	}
	
	&.patient {
		color: rgb(240,240,240);
		background:$oe-risks-warning;
	}
	
	ul {
		list-style: disc;
		list-style-position: inside;
		li {
			margin-bottom: 4px; 
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}