// General UI Icons
// SVG icons
// default size is 19px x 19px
// also: small:13px and medium:16px.
// 

// DOM 
// <i class="oe-i [name] [small|medium] "></i>

.oe-i {
	display:inline-block;
	vertical-align: middle;
	
	$size:19px;
	$size-medium:16px;
	$size-small:13px;
	
	width:$size; 
	height:$size;
	background-size: $size;
	background-repeat: no-repeat;
	background-position: center center;
	
	// reduce the ICON size ONLY:
	// small icon
	&.small-icon {
		background-size: $size-small;
	}
	// medium icon
	&.medium-icon {
		background-size: $size-medium;
	}
	
	// small icon AND physically smaller
	&.small {
		width:$size-small; 
		height:$size-small;
		background-size: $size-small;
	}
	
	// medium icon AND physically smaller
	&.medium {
		width:$size-medium; 
		height:$size-medium;
		background-size: $size-medium;
	}
	
	// used 'inline' to 'pad' out the icon
	&.pad {	
		margin:0 4px;		
	}
	
	// show interaction
	cursor:pointer;
	opacity: 0.5;
	
	&:hover, &:focus, &:active, &.active { 
		opacity:1; 
	}
	
	// still clickable but i need it more obvious
	&.no-hover {
		opacity:1;
	}
	
	// selected state
	&.selected {
		opacity:1;
		cursor:default; 
	}
	
	// Generally icons will be used for interaction
	// sometimes however they are only used for graphical purposes
	// use 'no-click' to turn off interaction behaviour
	&.start, &.stop, &.d-slash, // graphic icons only
	&.no-click, {
		cursor:default;
		&:hover, &:focus, &:active { 
			opacity:0.5; 
		}
	}	
	
	@mixin oe3-icons($svg) {
		background-image: url( svg-path-theme( $svg ) );
		&.pro-theme {
			background-image: url( svg-path( $svg ) );
		}
	}
	
	// icons
	// SVGs containing styling: fill:#fff;
	&.plus 				{ @include oe3-icons('plus'); }
	&.plus-circle 		{ @include oe3-icons('plus-circle'); }
	&.minus 			{ @include oe3-icons('minus'); }
	&.arrow-down 		{ @include oe3-icons('arrow-down'); }
	&.arrow-up 			{ @include oe3-icons('arrow-up');}
	&.arrow-down-bold 	{ @include oe3-icons('arrow-down-bold'); }
	&.arrow-up-bold 	{ @include oe3-icons('arrow-up-bold'); }
	&.arrow-right-bold 	{ @include oe3-icons('arrow-right-bold'); }
	&.arrow-left-bold 	{ @include oe3-icons('arrow-left-bold'); }
	&.direction-right 	{ @include oe3-icons('direction-right'); }
	&.direction-left 	{ @include oe3-icons('direction-left'); }
	&.direction-up 		{ @include oe3-icons('direction-up'); }
	&.direction-down 	{ @include oe3-icons('direction-down'); }
	&.child-arrow 		{ @include oe3-icons('child-arrow'); }
	&.menu 				{ @include oe3-icons('menu'); }
	&.trash 			{ @include oe3-icons('trash'); }
	&.print 			{ @include oe3-icons('print'); }
	&.search 			{ @include oe3-icons('search'); }
	&.remove 			{ @include oe3-icons('remove'); }
	&.remove-circle 	{ @include oe3-icons('remove-circle'); }
	&.duplicate 		{ @include oe3-icons('duplicate'); }
	&.info 				{ @include oe3-icons('info'); }
	&.eye 				{ @include oe3-icons('eye'); }
	&.comments 			{ @include oe3-icons('comments'); }
	&.start 			{ @include oe3-icons('start'); }
	&.stop 				{ @include oe3-icons('stop'); }
	&.d-slash 			{ @include oe3-icons('double-slash'); }
	&.expand 			{ @include oe3-icons('expand'); }
	&.collapse 			{ @include oe3-icons('collapse'); }
	&.downup 			{ @include oe3-icons('downup'); }
	&.history 			{ @include oe3-icons('history'); }
	&.tick 				{ @include oe3-icons('tick'); }
	&.triangle 			{ @include oe3-icons('warning'); }  // can't call it 'warning'
	&.time 				{ @include oe3-icons('time'); }
	&.audit-trail 		{ @include oe3-icons('audit-trail'); }
	&.download 			{ @include oe3-icons('download'); }
	&.asterisk			{ @include oe3-icons('asterisk'); }
	&.pencil			{ @include oe3-icons('pencil'); }
	&.exclamation		{ @include oe3-icons('exclamation'); }
	&.male				{ @include oe3-icons('male'); }
	&.female			{ @include oe3-icons('female'); }

	
	// Eyedraw icons 
	// these will not require theming as they are only used 
	// in the Eyedraw app
	&.ed-reset			{ background-image: url( "../svg/in-css/eyedraw/ed-reset.svg" ); }
	&.ed-zoom			{ background-image: url( "../svg/in-css/eyedraw/ed-zoom.svg" ); }
	&.ed-lock			{ background-image: url( "../svg/in-css/eyedraw/ed-lock.svg" ); }
	&.ed-trash			{ background-image: url( "../svg/in-css/eyedraw/ed-trash.svg" ); }
	&.ed-move-back  	{ background-image: url( "../svg/in-css/eyedraw/ed-backward.svg" ); }
	&.ed-move-forward 	{ background-image: url( "../svg/in-css/eyedraw/ed-forward.svg" ); }
	
	
	// R = Green; L = Red; B = Green/Red 
	// Eye icons are the same across both themes		
	&.laterality {
		// no interaction
		opacity: 1;
		cursor:auto; 
		
		// Right Eye
		&.R {
			background-image: url( svg-path('lat-R') );
		}
		// Left Eye
		&.L {
			background-image: url( svg-path('lat-L') );
		}
		
		// N/A - grey dot 
		&.NA {
			background-image: url( svg-path('lat-NA') );
		}
		
		// Both Eyes (Bi-lateral) --- Both is currently unused in OE3
		&.B {
			background-image: url( svg-path('lat-B') );	
			&.pos-shift {
				position:relative;
				left:7px;
			}
		}
	}
}

