// OE Data Inputs
// default setup for html inputs: 
input, textarea, select {
	border:0;	
	outline:none;

	@include font-size(12);
	color: $oe-user-input-text;
	background-color: $oe-user-inputs;
	
	// if used in a OE UI themed area use this class
	// used in Allergies & Risk in the patient popup
	&.pro-theme {
		color: $oe-pro-user-input-text;
		background-color: $oe-pro-user-inputs;
	}	
	
	&.error {
		color:rgb(255,255,255);
		background-color: $oe-alert-red;
	}
}

select {
	// remove all the default appearances for inputs
	//-moz-appearance: none; 
	//-webkit-appearance: none; 
	//appearance: none;
    // and then whatever styles you want
	//padding-left: 5px;
}

@import "inputs/label";
@import "inputs/input";
@import "inputs/textarea";
@import "inputs/select";

