// OE list default setting

ul {
	list-style: none;
	
	li {
		padding:0;
		margin:0; // do not add any list styling here... to many casscades!
	}
	
	&.inline-list {
		li {
			display:inline-block;
			margin:0 15px 0 0;
		}
	}
	
	&.dslash-list {
		li {
			display:inline-block;
			margin:0 10px 6px 0;
			padding:0 0 0 30px;
			
			// double-slash icon
			// must work across both themes
			background-position:left center;
			background-repeat: no-repeat;
			background-size:15px;
			background-image:url('../svg/in-css/ui/double-slash.svg');
			
			&:first-child {
				padding:0 0 0 0;
				background-image: none;
			}
		}
	}
	
	&.large-text, 
	&.large {
		li {
			@include font-size(14);
		}
	}
	
}

// ol shouldn't be used! only use ul
ol {
	list-style-position: inside;
}

