// OE Printing from Browser (Ctrl-P)
// This is not allowed and should be  
// restricted as much as possible!

#oe-restrict-print {
	display:none;
	width: 100%;
	margin: 2em 0; 
	padding: 1em;
	
	h1 {
		font-size:2em;
	}
	
}

@media print {
	body.open-eyes {
		display:block !important;
		width:100%;
		background: none;
		color: black; 
		  
		> * {
		 display:none !important;
		}
		
		#oe-restrict-print {
			display:block !important;
		} 
	}
}
