// OE tables
// Tables are used a lot. 
// Here I have a basic 'standard' OE style.
// this can be added as a class and extend or removed as needed

// Standard styling
table.standard {
	width:100%;
	@include font-size(14);
	
	margin:20px 0 10px 0;
	&:first-child {
		margin:0 0 10px 0;
	}
	
	&.last-right {
		th, td {
			&:last-child {
				text-align: right;
			}
		}
	}
	
	th, td {
		text-align: left;  // standardise align, in Elements this maybe overwritten.
		
		// made '.date' more generic.
		// (but still supporting 'date')
		&.right,
		&.date {
			text-align: right;
			padding-right:4px;
		}
		
	}
	
	thead {
		th {
			color:$oe-text-light;
			@include font-size(12);
			font-weight: $oe-font-light;
			padding:0 10px 10px 0;
		}
	}
	
	tbody {
		
		tr {
			border-bottom:1px solid $oe-line;
			&:last-child { 
				border-bottom: none;
			}
			
			// make specific rows clickable
			&.clickable {
				&:hover, &:active, &:focus {
					cursor: pointer;
					background:$oe-btn-blue; // row is a big button
					td {
						color:rgb(255,255,255);
					}
				}
			}
		}
		
		td {
			padding:5px 10px 5px 0; 
			font-weight: $oe-font-medium;
			color:$oe-text; 
			
			&.valign-top {
				vertical-align: top;
			}
		}
	}
	
	tfoot {
		tr {
			border-top:3px solid $oe-line;
			td {
				padding:5px 10px 5px 0; 
			}
		}
	}
	
	// make ALL rows 'clickable'
	&.clickable-rows {
		tbody {
			tr {
				&:hover, &:active, &:focus {
					cursor: pointer;
					background:$oe-btn-blue; // row is a big button
					td {
						color:rgb(255,255,255);
					}
				}
			}
		}
	}
}

