// Typography
//

html {
	// Experimented with this and decided to leave it set to default values	
	// but may return to it in the future... so leaving it here
	-webkit-font-smoothing: subpixel-antialiased; // this is the default setting in Chrome, including it incase it helps IE.
	//-webkit-font-smoothing: antialiased; // this is crisper but looks shit
	// text-rendering: optimizeLegibility; // default 'auto'
}

// default <a>
a {
	color:inherit;
	text-decoration: none;
	&:hover, &:focus, &:active, &.selected {
		color:$oe-text;
	}
	
	&.selected {
		color:$oe-text-highlight;
	}
	
	
}

// deliberately all setup to be too big. 
// all typography should be controlled specifically
h1,h2,h3,h4,h5,h6,p {
	@include font-size(16); // default 16px / 1rem
	font-weight:400;
}

// strong normally looks a bit too heavy
strong {
	font-weight:500;
}