// OE UI general helper classes

.inline {
	display:inline-block;
}

// need a generic div class to 
// space out a group of data...
// update: removed! don't think it's needed in v3?
// .row { margin:15px 0; }


// OE Date Layout
// to align the column layout of dd MMM YYYY
// Dates are wrapped with spans
.oe-date {
	text-align: right;
	white-space: nowrap;
	
	// this is tricky. the problem here occurred in Meds
	// an icon is used to show start / stop dates.
	// if I align all the <td> the icons don't line up.
	// flex also didn't work. instead decide to go with a 
	// fixed width approach... 
	display:inline-block;
	width:88px;
	
	.day {}
	.mth {
		padding:0 0 0 6px;
	}
	.yr {
		padding:0 0 0 6px;
	}
}

// OE EYE icon
// these should ALWAYs be on the same line 
// have therefore wrapped like with OE date approach
.oe-eye-lat-icons {
	display:inline-block;
	white-space: nowrap;
}


// ERRORs 
// error on save
.highlighted-error {
	border:1px solid $oe-alert-red;
}