// OE UI general helper classes

.inline {
	display:inline-block;
}

// need a generic div class to 
// space out a group of data
.row {
	margin:15px 0;
}


// ERRORs 
// error on save
.highlighted-error {
	border:1px solid $oe-alert-red;
}